@import '../base/fonts';
@import '../base/mixins';
@import '../base/media-queries';
@import '../base/colours';

//home section
//----------------------
#home-page {
  @include transition-with-defaults(opacity);
}

.react-reveal {
  width: 100%;
}

.spacer {
  margin: 25px 0;
  height: 100px;
  // parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px $color-box-shadow;

  &.blue {
    background-image: url('/images/spacer-blue.svg');
  }

  &.orange {
    background-image: url('/images/spacer-orange.svg');
  }
}

.section-header {
  border-bottom: 1px solid $color-dark-grey;
  padding: 20px 0 5px 0;
  text-align: center;
  text-transform: uppercase;
}

.section-description {
  margin: 30px 0;
}

//portfolio section
//----------------------
#portfolio-body {
  > :not(:first-child) {
    margin-top: 60px;
  }

  > :first-child .section-header {
    margin-top: 0;
    @include mobile {
      padding-top: 0;
    }
  }
}

//desktop styles
//----------------------
@include tablet-up {
  .section-container {
    padding-bottom: 25px;
  }
  .spacer {
    height: 150px;
  }
}
