.quote {
  margin: 0 auto 25px auto;
  text-align: center;
  font-family: $global-font-raleway;
}

.quote-divider {
  line-height: 1rem;
}

@include tablet-up {
  .quote-divider {
    line-height: 2.5rem;
  }
}
