@media (max-width: 767px) {
  .hide-for-small {
    display: none; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hide-for-medium {
    display: none; } }

@media (min-width: 768px) {
  .hide-for-medium-up {
    display: none; }
  .show-for-small {
    display: none; } }

@media (min-width: 1024px) {
  .hide-for-large {
    display: none; } }

footer {
  margin: 50px 0 25px 0; }
  footer .fa {
    font-size: 2rem;
    margin: 0 3px; }

#footer-social-title {
  vertical-align: text-bottom;
  display: inline-block;
  margin: 10px 5px 5px 0; }
