/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px #888888;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.standard-menu {
  list-style: none;
  margin: 0; }
  .standard-menu a {
    cursor: pointer;
    display: inline-block;
    border-bottom: 5px solid transparent;
    -webkit-transition: border-color 250ms ease-out 0s;
    -moz-transition: border-color 250ms ease-out 0s;
    -o-transition: border-color 250ms ease-out 0s;
    transition: border-color 250ms ease-out 0s;
    padding: 20px 15px; }
    .standard-menu a.active, .standard-menu a:hover {
      border-bottom-color: #003DA5;
      color: #393939; }
