@import "../../base/mixins.scss";

//404
//----------------------
#error-translations-container {
  position: relative;
  height: 75px;
  margin: 50px 0;
}

.error-translations {
  display: block!important;
  font-size: 3rem;
  line-height: 3rem;
  opacity: 0;
  @include center-absolute;
  @include transition-raw("opacity 750ms ease-out 0s");
  &.active {
    opacity: 1
  }
}