@import "../../base/mixins.scss";

//404
//----------------------
#error-translations-container {
  position: relative;
  height: 75px;
  margin: 50px 0;
}

.error-translations {
  display: block!important;
  font-size: 3rem;
  line-height: 3rem;
  @include center-absolute;
}

.error-translations-enter {
  @include transition-with-defaults(opacity);
  opacity: 0.01;
}
.error-translations-enter-active {
  opacity: 1;
}
.error-translations-exit {
  opacity: 1;
}
.error-translations-exit-active {
  opacity: 0.01;
}