/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
#error-translations-container {
  position: relative;
  height: 75px;
  margin: 50px 0; }

.error-translations {
  display: block !important;
  font-size: 3rem;
  line-height: 3rem;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: opacity 750ms ease-out 0s;
  -moz-transition: opacity 750ms ease-out 0s;
  -o-transition: opacity 750ms ease-out 0s;
  -ms-transition: opacity 750ms ease-out 0s;
  transition: opacity 750ms ease-out 0s; }
  .error-translations.active {
    opacity: 1; }
