@import '../base/mixins';

$bubble-container-height: 500px;

#bubbles-container {
  border: 5px double #333333;
  height: $bubble-container-height;
}

.bubble {
  position: absolute;
  background-color:purple;
  border-radius:50%;
  opacity: 0.4;
}

#bubbles-inner-container {
  position: relative;
  overflow: hidden;
  height: $bubble-container-height;
  @include transition-with-defaults(opacity);
  &.opaque {
    opacity: 0;
  }
}