$color-jays-dark-blue: #041E42;
$color-jays-light-blue: #003DA5;
$color-badgers-red: #B70101;
$color-badgers-gold: #E7D9C1;
$color-grey: #807370;
$color-dark-grey: #594D4B;
$color-white: #fefefe;
$color-desert-black: #333333;
$color-red: #FF0000;
$color-orange: #FFA500;
$color-yellow: #FFFF00;
$color-york-green: #18453B;
$color-york-blue: #002663;

$color-font-black: #393939;
$color-anchor-hover: #d3d3d3;