//font declarations
//-----------------------------
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-regular-webfont.woff2') format('woff2'), url('/fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Proza Libre';
  src: url('/fonts/prozalibre-regular-webfont.woff2') format('woff2'), url('/fonts/prozalibre-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal
}

$global-font-raleway: 'Raleway','HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
$global-font-proza-libre: 'Proza Libre', 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;

//extensible classes
//-----------------------------
.f--raleway {
  font-family: $global-font-raleway;
}

.f--proza-libre {
  font-family: $global-font-proza-libre;
}