//Susy (grid)
//-----------------------------
@import "susy";

//settings
$susy: (
        columns: 12,
        container: 1120px,//max-width = 1120px
        global-box-sizing: border-box
);

/* Makes border-box properties */
@include border-box-sizing;

.grid-container {
  @include container;
}

.full-screen-grid-container {
  @include container;
  max-width: none;
}

$small-grid-padding: 5px;
$medium-grid-padding: 5px;
$large-grid-padding: 5px;

//responsive classes
//-----------------------------
.small-1 {
  padding: 0 $small-grid-padding;
  @include span(1);
}
.small-2 {
  padding: 0 $small-grid-padding;
  @include span(2);
}
.small-3 {
  padding: 0 $small-grid-padding;
  @include span(3);
}
.small-4 {
  padding: 0 $small-grid-padding;
  @include span(4);
}
.small-5 {
  padding: 0 $small-grid-padding;
  @include span(5);
}
.small-6 {
  padding: 0 $small-grid-padding;
  @include span(6);
}
.small-7 {
  padding: 0 $small-grid-padding;
  @include span(7);
}
.small-8 {
  padding: 0 $small-grid-padding;
  @include span(8);
}
.small-9 {
  padding: 0 $small-grid-padding;
  @include span(9);
}
.small-10 {
  padding: 0 $small-grid-padding;
  @include span(10);
}
.small-11 {
  padding: 0 $small-grid-padding;
  @include span(11);
}
.small-12 {
  padding: 0 $small-grid-padding;
  @include span(12);
}


//tablet
//-----------------------------
.medium-1 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(1);
  }
}
.medium-2 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(2);
  }
}
.medium-3 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(3);
  }
}
.medium-4 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(4);
  }
}
.medium-5 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(5);
  }
}
.medium-6 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(6);
  }
}
.medium-7 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(7);
  }
}
.medium-8 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(8);
  }
}
.medium-9 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(9);
  }
}
.medium-10 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(10);
  }
}
.medium-11 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(11);
  }
}
.medium-12 {
  padding: 0 $medium-grid-padding;
  @include tablet-up {
    @include span(12);
  }
}


//desktop
//-----------------------------
.large-1 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(1);
  }
}
.large-2 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(2);
  }
}
.large-3 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(3);
  }
}
.large-4 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(4);
  }
}
.large-5 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(5);
  }
}
.large-6 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(6);
  }
}
.large-7 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(7);
  }
}
.large-8 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(8);
  }
}
.large-9 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(9);
  }
}
.large-10 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(10);
  }
}
.large-11 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(11);
  }
}
.large-12 {
  padding: 0 $large-grid-padding;
  @include desktop {
    @include span(12);
  }
}

//helper classes
//-----------------------------
@mixin grid-end {
  float: right;
  margin-right: 0;
  right:0;
  position: absolute;
}

.grid-end {
  @include grid-end;
}

.small-grid-end {
  @include mobile {
    @include grid-end;
  }
}

.medium-grid-end {
  @include tablet {
    @include grid-end;
  }
}

.large-grid-end {
  @include desktop {
    @include grid-end;
  }
}