//core
//----------------------
header {
  background-color: $color-menu-active-state;
  box-shadow: 0 0 10px $color-box-shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

//dropdown menu
//----------------------
.standard-menu {
  list-style: none;
  margin: 0;
  & > li {
    display: inline-block;
    border-bottom: 5px solid transparent;
    @include transition-with-defaults(border-color);
    & > a {
      padding: 20px 15px;
    }
    &.active, &:hover {
      border-bottom-color: $color-menu-border-active-state;
    }
    &:hover {
      .sub-menu {
        opacity: 1;
        height: auto;
        overflow: visible;
      }
    }
  }
  a {
    padding: 5px 15px;
    display: block;
  }
}

.sub-menu {
  position: absolute;
  opacity: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  list-style: none;
  background-color: white;
  border: 1px solid $color-sub-menu-border;
  border-top-color: $color-menu-border-active-state;
  text-align: left;
  min-width: 150px;
  margin-top: 5px;
  @include transition-with-defaults(opacity);
  a {
    color: $color-font-black;
    font-size: 14px;
    @include transition-with-defaults(background-color);
  }
  .active a, a:hover {
    background-color: $color-menu-active-state;
  }
}

//mobile menu
//----------------------
#header-mobile-menu {
  .fa {
    padding: 20px 15px;
    font-size: 1.6rem;
  }
}

#mobile-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  & > li {
    font-size: 1.25rem;
    margin-top: 15px;
  }
}

.mobile-sub-menu {
  list-style: none;
  padding-left: 30px;
  & > li {
    margin-top: 5px;
  }
}