<head>
    <title>{{meta.title}}</title>
    <meta name="description" content="{{meta.description}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="en">
    <link rel="stylesheet" href="/css/app.min.css">
    <script type="text/javascript" src='/js/app.header.min.js'></script>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico"/><![endif]-->
</head>
