@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
@media (max-width: 767px) {
  .hide-for-small {
    display: none; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hide-for-medium {
    display: none; } }

@media (min-width: 768px) {
  .hide-for-medium-up {
    display: none; }
  .show-for-small {
    display: none; } }

@media (min-width: 1024px) {
  .hide-for-large {
    display: none; } }

body {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  color: #393939;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+"); }

h1, h2, h3, h4, h5 {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

img, input {
  max-width: 100%; }

p {
  margin: 0 0 10px 0; }
  p.error {
    margin-top: 10px;
    color: red; }

hr {
  border-color: #eeeeee; }

a {
  color: #393939;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 250ms ease-out 0s;
  -moz-transition: color 250ms ease-out 0s;
  -o-transition: color 250ms ease-out 0s;
  transition: color 250ms ease-out 0s; }
  a:hover {
    color: #d3d3d3; }

iframe {
  width: 100%;
  max-width: 100%; }

.page-title {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  border-left: 20px solid #B70101;
  padding-left: 15px;
  margin-left: -10px; }

.button {
  display: block;
  border-radius: 5px;
  background-color: #002663;
  border: 2px solid #002663;
  text-align: center;
  font-size: 1.25rem;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px auto 10px auto;
  width: 355px;
  max-width: calc(100% - 24px);
  vertical-align: middle;
  outline: none;
  color: #fefefe;
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }
  .button:hover:not(.disabled) {
    border-radius: 50px;
    background-color: #fefefe;
    box-shadow: 0 5px 15px 0 #888888;
    color: #002663; }
  .button.disabled, .button.disabled span {
    opacity: 0.6;
    cursor: not-allowed; }

.small-button {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
  outline: none;
  width: 35px;
  margin: 5px;
  transition: all 0.5s;
  background-color: #041E42;
  border: 2px solid #041E42;
  color: #fefefe;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }
  .small-button:hover {
    background-color: #fefefe;
    color: #393939;
    box-shadow: 0 0 15px 0 #888888; }

.input {
  border: 2px inset #EEEEEE;
  padding: 7px 5px;
  -webkit-transition: border-color 250ms ease-out 0s;
  -moz-transition: border-color 250ms ease-out 0s;
  -o-transition: border-color 250ms ease-out 0s;
  transition: border-color 250ms ease-out 0s; }
  .input:focus {
    outline: none; }
  .input.error {
    border-color: red; }

.list-item-selector {
  position: relative;
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #888888; }

.list-item {
  display: block;
  padding: 10px;
  background-color: white;
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s; }
  .list-item.selected, .list-item:hover {
    background-color: #18453B;
    color: white; }

.faded-out {
  display: none;
  opacity: 0; }

.hidden {
  display: none; }

.opaque {
  opacity: 0; }

.horizontal-center {
  margin: 0 auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.full-width {
  width: 100%; }

.position-relative {
  position: relative; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.no-border {
  border: none; }

.text-bold {
  font-weight: bold; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-upper {
  text-transform: uppercase; }

.fade-enter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: opacity 250ms ease-out 0s;
  -moz-transition: opacity 250ms ease-out 0s;
  -o-transition: opacity 250ms ease-out 0s;
  transition: opacity 250ms ease-out 0s;
  opacity: 0.01;
  z-index: 1; }

.fade-enter-active {
  position: relative;
  opacity: 1; }

.fade-exit {
  position: relative;
  opacity: 1; }

.fade-exit-active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.01; }

@media (min-width: 768px) {
  body {
    padding-top: 65px; } }
