/*
Imports and settings that might change with theme development
*/
/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.grid-container {
  max-width: 1120px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto; }

.full-screen-grid-container {
  max-width: none;
  margin-left: auto;
  margin-right: auto; }

.row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap; }

[class*="col-"] {
  padding: 0 10px;
  box-sizing: border-box; }

.col {
  flex-grow: 1; }

/* mobile */
.col-sm-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  padding: 0 5px; }

.col-sm-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  padding: 0 5px; }

.col-sm-3 {
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 5px; }

.col-sm-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding: 0 5px; }

.col-sm-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  padding: 0 5px; }

.col-sm-6 {
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 5px; }

.col-sm-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  padding: 0 5px; }

.col-sm-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  padding: 0 5px; }

.col-sm-9 {
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 5px; }

.col-sm-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  padding: 0 5px; }

.col-sm-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  padding: 0 5px; }

.col-sm-12 {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 5px; }

.col-sm-offset-1 {
  margin-left: 8.33333%; }

.col-sm-offset-2 {
  margin-left: 16.66667%; }

.col-sm-offset-3 {
  margin-left: 25%; }

.col-sm-offset-4 {
  margin-left: 33.33333%; }

.col-sm-offset-5 {
  margin-left: 41.66667%; }

.col-sm-offset-6 {
  margin-left: 50%; }

.col-sm-offset-7 {
  margin-left: 58.33333%; }

.col-sm-offset-8 {
  margin-left: 66.66667%; }

.col-sm-offset-9 {
  margin-left: 75%; }

.col-sm-offset-10 {
  margin-left: 83.33333%; }

.col-sm-offset-11 {
  margin-left: 91.66667%; }

/* tablet */
@media (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0 5px; }
  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 5px; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 5px; }
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 5px; }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0 5px; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 5px; }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0 5px; }
  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 5px; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 5px; }
  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0 5px; }
  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0 5px; }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 5px; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; } }

/* desktop */
@media (min-width: 1024px) {
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0 5px; }
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 5px; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 5px; }
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 5px; }
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0 5px; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 5px; }
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0 5px; }
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 5px; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 5px; }
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0 5px; }
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0 5px; }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 5px; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; } }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
body {
  padding-top: 65px;
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  color: #393939; }

h1, h2, h3, h4, h5 {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

img, input {
  max-width: 100%; }

p {
  margin: 0 0 10px 0; }

hr {
  border-color: #eeeeee; }

a {
  color: #393939;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 300ms ease-out 0s;
  -moz-transition: color 300ms ease-out 0s;
  -o-transition: color 300ms ease-out 0s;
  transition: color 300ms ease-out 0s; }
  a:hover {
    color: #d3d3d3; }

iframe {
  width: 100%;
  max-width: 100%; }

.page-title, .post-title {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.page-container, .post-container {
  padding-top: 25px; }
  @media (min-width: 768px) {
    .page-container, .post-container {
      padding-top: 55px; } }

.button {
  display: block;
  border-radius: 5px;
  background-color: #002663;
  border: none;
  text-align: center;
  font-size: 1.25rem;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px auto;
  max-width: 355px;
  vertical-align: middle;
  box-shadow: 0 5px 15px 0 #888888; }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #fefefe;
    transition: 0.5s;
    font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }
    .button span:after {
      font-family: "FontAwesome";
      position: absolute;
      opacity: 0;
      top: 0;
      transition: 0.5s;
      font-size: 1.5rem;
      right: -35px;
      margin-right: -15px; }
  .button:hover:not(.disabled) span {
    padding-right: 25px; }
    .button:hover:not(.disabled) span:after {
      opacity: 1;
      right: 0; }
  .button:focus, .button:active {
    outline: none; }
  .button.disabled, .button.disabled span {
    opacity: 0.6;
    cursor: not-allowed; }

.modal-content {
  padding: 10px; }

.modal-title {
  border-bottom: 1px solid #594D4B; }

.prettyprint {
  margin: 0;
  padding: 10px;
  width: auto;
  overflow: auto; }

.faded-out {
  display: none;
  opacity: 0; }

.hidden {
  display: none; }

.opaque {
  opacity: 0; }

.horizontal-center {
  margin: 0 auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.full-width {
  width: 100%; }

.position-relative {
  position: relative; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.text-bold {
  font-weight: bold; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-upper {
  text-transform: uppercase; }

@media (max-width: 767px) {
  .hide-for-small {
    display: none; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hide-for-medium {
    display: none; } }

@media (min-width: 768px) {
  .hide-for-medium-up {
    display: none; }
  .show-for-small {
    display: none; } }

@media (min-width: 1024px) {
  .hide-for-large {
    display: none; } }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
header {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px #888888;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.standard-menu {
  list-style: none;
  margin: 0; }
  .standard-menu > li {
    display: inline-block;
    border-bottom: 5px solid transparent;
    -webkit-transition: border-color 300ms ease-out 0s;
    -moz-transition: border-color 300ms ease-out 0s;
    -o-transition: border-color 300ms ease-out 0s;
    transition: border-color 300ms ease-out 0s; }
    .standard-menu > li > a {
      padding: 20px 15px; }
    .standard-menu > li.active, .standard-menu > li:hover {
      border-bottom-color: #e3ebee; }
    .standard-menu > li:hover .sub-menu {
      opacity: 1;
      height: auto;
      overflow: visible; }
  .standard-menu a {
    padding: 5px 15px;
    display: block; }

.sub-menu {
  position: absolute;
  opacity: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  list-style: none;
  background-color: white;
  border: 1px solid #c6c7c8;
  border-top-color: #e3ebee;
  text-align: left;
  min-width: 150px;
  margin-top: 5px;
  -webkit-transition: opacity 300ms ease-out 0s;
  -moz-transition: opacity 300ms ease-out 0s;
  -o-transition: opacity 300ms ease-out 0s;
  transition: opacity 300ms ease-out 0s; }
  .sub-menu a {
    color: #393939;
    font-size: 14px;
    -webkit-transition: background-color 300ms ease-out 0s;
    -moz-transition: background-color 300ms ease-out 0s;
    -o-transition: background-color 300ms ease-out 0s;
    transition: background-color 300ms ease-out 0s; }
  .sub-menu .active a, .sub-menu a:hover {
    background-color: #f8f8f8; }

#header-mobile-menu .fa {
  padding: 20px 15px;
  font-size: 1.6rem; }

#mobile-menu {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  #mobile-menu > li {
    font-size: 1.25rem;
    margin-top: 15px; }

.mobile-sub-menu {
  list-style: none;
  padding-left: 30px; }
  .mobile-sub-menu > li {
    margin-top: 5px; }

footer {
  margin: 50px 0 25px 0; }
  footer .fa {
    font-size: 2rem;
    margin: 0 3px; }

#footer-social-title {
  vertical-align: text-bottom;
  display: inline-block;
  margin: 10px 5px 5px 0; }

#footer-copyright {
  position: absolute;
  bottom: 0;
  left: 0; }

#footer-social-container {
  text-align: center; }
  @media (min-width: 768px) {
    #footer-social-container {
      text-align: right; } }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
.error-page h1, .error-page h3, .error-page span {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

@media (min-width: 768px) {
  #error-title-container {
    border-right: 2px solid #393939;
    text-align: right;
    padding-right: 50px; } }

.error-title {
  font-size: 6rem;
  margin: 0; }

.error-button {
  text-align: center;
  margin-top: 50px; }
  .error-button span:after {
    content: '\f105'; }

#error-translations-container {
  position: relative;
  height: 75px;
  margin: 50px 0; }

.error-translations {
  opacity: 0;
  display: block !important;
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

#error-warning-container {
  display: block;
  margin: auto; }
  #error-warning-container .fa-stack {
    width: 8.75rem;
    height: 8.75rem;
    line-height: 8.75rem;
    display: block;
    margin: 0 auto 25px auto;
    overflow: hidden;
    border: 5px solid #FFA500;
    border-radius: 50%;
    -webkit-transition: border-color 300ms ease-out 0s;
    -moz-transition: border-color 300ms ease-out 0s;
    -o-transition: border-color 300ms ease-out 0s;
    transition: border-color 300ms ease-out 0s; }
    #error-warning-container .fa-stack:hover {
      border-color: #FF0000; }
  #error-warning-container .fa-stack-1x {
    font-size: 4.375rem;
    color: #FFA500; }
  #error-warning-container .fa-stack-2x {
    font-size: 8.75rem;
    color: #393939; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.homepage-block {
  text-align: center;
  position: relative;
  padding: 0;
  overflow: hidden; }

.homepage-block-body .fa-stack {
  color: #393939;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 7rem;
  height: 7rem;
  line-height: 7rem; }
  .homepage-block-body .fa-stack.fa-inverse {
    color: #fefefe; }
  .homepage-block-body .fa-stack .fa-stack-2x {
    font-size: 7rem; }
  .homepage-block-body .fa-stack .fa-stack-1x {
    font-size: 3.5rem; }
  @media (min-width: 768px) {
    .homepage-block-body .fa-stack {
      width: 15rem;
      height: 15rem;
      line-height: 15rem; }
      .homepage-block-body .fa-stack .fa-stack-2x {
        font-size: 15rem; }
      .homepage-block-body .fa-stack .fa-stack-1x {
        font-size: 7.5rem; } }

.hover-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.hover-filter-overlay {
  cursor: pointer;
  opacity: 0;
  height: 0; }
  .hover-filter-overlay.active {
    height: 100%; }

.hover-filter-text {
  height: 2rem;
  font-size: 2rem;
  opacity: 0;
  color: white;
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.homepage-icon-block .hover-filter-back, .homepage-icon-block .hover-filter-front {
  height: 0;
  top: initial; }

.homepage-icon-block .hover-filter-back {
  background-color: #003DA5;
  opacity: 0.9; }

.homepage-icon-block .hover-filter-front {
  background-color: #041E42;
  opacity: 0.8; }

.homepage-icon-block .hover-filter-text {
  top: 75px; }

.homepage-image-block .hover-filter-back {
  height: 100%;
  width: 0;
  background-color: #807370;
  opacity: 0.65; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

#travel-rule {
  margin: 85px 0 95px 0;
  width: 100%; }

#travel-images-container {
  width: 100%;
  opacity: 0; }
  #travel-images-container .slick-slide {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    height: 250px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #travel-images-container .slick-slide {
        height: 375px; } }
    @media (min-width: 1024px) {
      #travel-images-container .slick-slide {
        height: 500px; } }

.travel-image-caption-container {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto; }
  .travel-image-caption-container h3 {
    color: #fefefe;
    font-size: 1.25rem;
    display: inline;
    padding: 5px 15px;
    font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    background-color: rgba(57, 57, 57, 0.5); }

#travel-map-container {
  height: 500px;
  width: 100%;
  opacity: 0; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
#resume-title {
  border-left: 20px solid #B70101;
  padding-left: 15px;
  margin-left: -10px; }

#resume-body {
  opacity: 0; }
  #resume-body h2 {
    border-bottom: 1px solid #594D4B;
    padding: 20px 0 5px 0;
    text-align: center;
    text-transform: uppercase; }
  #resume-body h3 {
    margin: 30px 0 10px 0; }
  #resume-body span {
    display: inline !important;
    -webkit-transition: color 300ms ease-out 0s;
    -moz-transition: color 300ms ease-out 0s;
    -o-transition: color 300ms ease-out 0s;
    transition: color 300ms ease-out 0s; }
  #resume-body a:hover span {
    color: #d3d3d3; }
  #resume-body ul {
    list-style: circle;
    padding: 0 10px; }

#resume-download-button span:after {
  content: '\f019'; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
#portfolio-quote-container {
  margin-bottom: 10px;
  text-align: center;
  height: 150px;
  border: 1px solid rgba(10, 10, 10, 0.25);
  position: relative; }

.portfolio-quote {
  max-width: 95%;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }
  @media (min-width: 768px) {
    .portfolio-quote {
      max-width: 75%; } }

.portfolio-quote-author {
  margin: 0; }

.portfolio-carousel-header {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.portfolio-carousel {
  background-color: rgba(57, 57, 57, 0.3); }
  .portfolio-carousel .slick-prev, .portfolio-carousel .slick-next {
    background-color: #594D4B;
    height: 100%; }
  .portfolio-carousel .slick-next {
    right: 0; }
  .portfolio-carousel .slick-prev {
    left: 0; }

.portfolio-carousel-item-title {
  padding-top: 10px;
  height: 30px;
  margin: 0; }

.portfolio-carousel-content {
  max-width: 75%;
  margin: auto;
  height: 230px;
  background-color: white;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 10px solid #594D4B; }
  @media (min-width: 768px) {
    .portfolio-carousel-content {
      margin: 10px;
      max-width: 100%; } }
  .portfolio-carousel-content:hover .fa {
    color: rgba(24, 69, 59, 0.5); }
  .portfolio-carousel-content:active, .portfolio-carousel-content:focus {
    outline: none; }
  .portfolio-carousel-content .fa-stack {
    height: 190px;
    width: 100%;
    max-width: 200px; }
    @media (min-width: 768px) {
      .portfolio-carousel-content .fa-stack {
        max-width: 175px; } }
  .portfolio-carousel-content .fa {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: color 300ms ease-out 0s;
    -moz-transition: color 300ms ease-out 0s;
    -o-transition: color 300ms ease-out 0s;
    transition: color 300ms ease-out 0s; }
  .portfolio-carousel-content.bubbles .fa-stack-1x {
    bottom: 82.5%;
    left: 32.5%;
    right: initial;
    top: initial;
    width: 2rem;
    line-height: 2rem;
    font-size: 2rem; }
  .portfolio-carousel-content.bubbles .fa-stack-2x {
    bottom: 47.5%;
    left: 7.5%;
    right: initial;
    top: initial;
    width: 4rem;
    line-height: 4rem;
    font-size: 4rem; }
  .portfolio-carousel-content.bubbles .fa-stack-3x {
    bottom: 5%;
    top: initial;
    width: 6rem;
    line-height: 6rem;
    font-size: 6rem; }
  .portfolio-carousel-content.chorus .fa-stack-1x {
    bottom: 60%;
    top: initial;
    left: 60%;
    right: initial;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 2.5rem; }
  .portfolio-carousel-content.chorus .fa-stack-2x {
    bottom: 30%;
    top: initial;
    left: 10%;
    right: initial;
    width: 5rem;
    line-height: 5rem;
    font-size: 5rem; }
  .portfolio-carousel-content.reading-list .fa-stack-1x {
    bottom: 30%;
    top: initial;
    left: 5%;
    right: initial;
    width: 3rem;
    line-height: 3rem;
    font-size: 3rem; }
  .portfolio-carousel-content.reading-list .fa-stack-2x {
    bottom: 30%;
    top: initial;
    left: 40%;
    right: initial;
    width: 3rem;
    line-height: 3rem;
    font-size: 3rem; }
  .portfolio-carousel-content.reading-list .fa-stack-3x {
    bottom: 60%;
    top: initial;
    left: 25%;
    right: initial;
    width: 3rem;
    line-height: 3rem;
    font-size: 3rem; }
  .portfolio-carousel-content.reading-list .fa-stack-4x {
    bottom: 60%;
    top: initial;
    left: 60%;
    right: initial;
    width: 3rem;
    line-height: 3rem;
    font-size: 3rem; }
  .portfolio-carousel-content.alcone .fa {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 4rem; }

.portfolio-tech-stack {
  margin: 20px 0; }
  .portfolio-tech-stack .title {
    font-weight: bold; }

.portfolio-button-code span:after {
  content: '\f121'; }

.portfolio-button-project span:after {
  content: '\f115'; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
#chorus-main-container {
  height: 400px;
  position: relative; }

.chorus-instrument-container {
  opacity: 0;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .chorus-instrument-container:first-child {
    opacity: 1;
    display: block; }

.chorus-tab {
  padding: 0.75rem 0.2rem;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: background 300ms ease-out 0s,color 300ms ease-out 0s;
  -moz-transition: background 300ms ease-out 0s,color 300ms ease-out 0s;
  -o-transition: background 300ms ease-out 0s,color 300ms ease-out 0s;
  -ms-transition: background 300ms ease-out 0s,color 300ms ease-out 0s;
  transition: background 300ms ease-out 0s,color 300ms ease-out 0s; }
  @media (min-width: 768px) {
    .chorus-tab {
      padding: 1.25rem 1.5rem; } }
  .chorus-tab.active {
    background: #d3d3d3;
    color: #393939; }

.chorus-result-item-selected span, .chorus-result-item:hover span {
  color: white; }

.chorus-string-container {
  margin: 0 0 10px 0; }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

#bubbles-container {
  border: 5px double #393939;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative; }

.bubble {
  position: absolute;
  background-color: purple;
  border-radius: 50%;
  opacity: 0; }

#bubbles-code-desktop {
  overflow: scroll;
  max-width: 100%;
  height: 500px; }

#bubble-controls-container {
  margin-top: 15px; }
  @media (min-width: 768px) {
    #bubble-controls-container {
      margin-top: 30px; } }
  #bubble-controls-container input {
    width: 50px;
    border: 1px solid #807370; }
  #bubble-controls-container button {
    margin-top: 10px; }
  #bubble-controls-container label {
    margin-top: 10px; }
    @media (min-width: 768px) {
      #bubble-controls-container label {
        display: block; } }

#bubbles-control-start span:after {
  content: '\f144'; }

#bubbles-control-stop span:after {
  content: '\f28d'; }

#bubbles-control-clear span:after {
  content: '\f05e'; }

#bubbles-code-button span:after {
  content: '\f121'; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
.music-post-container {
  display: flex;
  margin-bottom: 10px; }
  .music-post-container:hover .music-post-content {
    border-color: #E7D9C1; }

.music-post-content {
  width: 100%;
  padding: 20px;
  border: 5px double #393939;
  color: #393939;
  -webkit-transition: border-color 300ms ease-out 0s;
  -moz-transition: border-color 300ms ease-out 0s;
  -o-transition: border-color 300ms ease-out 0s;
  transition: border-color 300ms ease-out 0s; }

.music-post-excerpt {
  text-align: justify; }

.music-post-date {
  margin: 0; }
  .music-post-date .fa {
    margin-right: 5px; }

.music-post-image {
  margin: auto;
  max-height: 500px;
  max-width: calc(100% - 120px); }

#music-post-images-container {
  width: 100%;
  opacity: 0;
  margin-top: 50px; }
  #music-post-images-container .slick-slide {
    background-color: rgba(57, 57, 57, 0.3); }
