//core
//----------------------
.error-page {
  h1, h3, span {
    font-family: $global-font-raleway-thin;
  }
}

#error-title-container {
  @include tablet-up {
    border-right: 2px solid $color-font-black;
    text-align: right;
    padding-right: 50px;
  }
}

.error-title {
  font-size: 6rem;
  margin: 0;
}

.error-button {
  text-align: center;
  margin-top: 50px;
  span:after {
    content: '\f105';
  }
}


//404
//----------------------
#error-translations-container {
  position: relative;
  height: 75px;
  margin: 50px 0;
}

.error-translations {
  opacity: 0;
  display: block!important;
  font-size: 3rem;
  line-height: 3rem;
  @include center-absolute;
}


//500
//----------------------
#error-warning-container {
  $iconHeight: 8.75;
  display:block;
  margin:auto;
  .fa-stack {
    width: $iconHeight+rem;
    height: $iconHeight+rem;
    line-height: $iconHeight+rem;
    display: block;
    margin: 0 auto 25px auto;
    overflow: hidden;
    border: 5px solid $color-orange;
    border-radius: 50%;
    @include transition-with-defaults(border-color);
    &:hover {
      border-color: $color-red;
    }
  }
  .fa-stack-1x {
    font-size: $iconHeight/2+rem;
    color: $color-orange;
  }
  .fa-stack-2x {
    font-size: $iconHeight+rem;
    color: $color-font-black;
  }
}