//core
//----------------------
.error-page {
  h1, h3, span {
    font-family: $global-font-raleway-thin;
  }
}

#error-title-container {
  @include tablet-up {
    border-right: 2px solid $color-desert-black;
    text-align: right;
    padding-right: 50px;
  }
}

.error-title {
  font-size: 6rem;
  margin: 0;
}

.error-button {
  text-align: center;
  margin-top: 50px;
  span:after {
    content: '\f101';
  }
}


//404
//----------------------
#error-translations-container {
  position: relative;
  height: 75px;
  margin: 50px 0;
}

.error-translations {
  opacity: 0;
  display: block!important;
  font-size: 3rem;
  line-height: 3rem;
  @include center-absolute;
}


////server error
////----------------------
//#container-warning {
//  $iconHeight: 300;
//  p {
//    display:block;
//    margin:auto;
//    .fa-stack {
//      width: rem-calc($iconHeight);
//      height: rem-calc($iconHeight);
//      line-height: rem-calc($iconHeight);
//      display: block;
//      margin: 0 auto 25px auto;
//      overflow: hidden;
//      border: 5px solid $color-orange;
//      border-radius: 50%;
//      @include transition-with-defaults(border);
//      &:hover {
//        border-color: $color-red;
//      }
//      i {
//        &.fa-stack-1x {
//          font-size: rem-calc($iconHeight/2);
//          color: $color-orange;
//        }
//        &.fa-stack-2x {
//          font-size: rem-calc($iconHeight);
//          color: $color-font-black;
//        }
//      }
//    }
//  }
//}