//core
//----------------------
footer {
  margin: 50px 0 25px 0;
  .fa {
    font-size: 2rem;
    margin: 0 3px;
  }
}

#footer-social-title {
  vertical-align: text-bottom;
  display: inline-block;
  margin: 10px 5px 5px 0;
}

#footer-copyright {
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer-social-container {
  text-align: center;
  @include tablet-up {
    text-align: right;
  }
}