footer {
  margin-top: 50px;
  padding: 20px 0;
  .fa {
    font-size: 2em;
    margin: 0 1px;
  }
}

#footer-social-title {
  vertical-align: text-bottom;
  display: inline-block;
  margin: 8px 5px 8px 0;
}

#footer-copyright {
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer-social-container {
  text-align: center;
  margin-bottom: 10px;
  @include tablet-up {
    text-align: right;
    margin-bottom: 0;
  }
}