//main styles
//-----------------------------
html,body,p,a,blockquote {
  font-family: "Proza Libre", "HelveticaNeue", Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  color: #393939;
}

h1,h2,h3,h4,h5 {
  font-family: "Raleway","HelveticaNeue", Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  color: #393939;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  @include transition-with-defaults(color);
  &:hover {
    color: #d3d3d3;
  }
}

//helper classes
//-----------------------------
.faded-out {
  display: none;
  opacity: 0;
}

.hidden {
  display: none;
}

.horizontal-center {
  margin: 0 auto;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.full-width {
  width:100%;
}

.position-relative {
  position: relative;
}


//typography
//-----------------------------
.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}


//visibility
//-----------------------------
@include mobile {
  .hide-for-small {
    display: none;
  }
}
@include tablet {
  .hide-for-medium {
    display: none;
  }
}
@include tablet-up {
  .hide-for-medium-up {
    display: none;
  }
  .show-for-small {
    display: none;
  }
}
@include desktop {
  .hide-for-large {
    display: none;
  }
}