# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
.sass-cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#wordpress
wordpress/wp-config.php
wordpress/wp-content/aiowps_backups/
wordpress/wp-content/uploads/
wordpress/wp-content/upgrade/