# Runtime data
pids
*.pid
*.seed
npm-debug.log

#build caches
.sass-cache/
.grunt/

#dependencies
node_modules/
webapp/bower_components/

#ide
.idea/
*.DS_Store

#compiled Files
webapp/public/

#config
.env

#wordpress
wordpress/wp-config.php
wordpress/wp-content/aiowps_backups/
wordpress/wp-content/uploads/
wordpress/wp-content/upgrade/