<main id="page-resume" class="grid-container row">
    <h1 id="resume-title" class="page-title">Mike Stumpf</h1>
    <section id="resume-body" class="col-sm-12">
        {{{page.body}}}
    </section>
    <div class="col-sm-12 text-center">
        <a id="resume-download-button" href="/files/Mike_Stumpf_Resume_2016.pdf" class="button" target="_blank">
            <span>Download a copy of my Resume</span>
        </a>
    </div>
</main>
