<main id="page-resume" class="grid-container row">
    <h1 id="resume-title" class="page-title">Mike Stumpf</h1>
    <section id="resume-body" class="col-sm-12">
        {{{page.body}}}
    </section>
    <div class="text-center">
        <button data-url="/files/Mike_Stumpf_CV.pdf" type="button" class="button">
            <i class="fa fa-download" aria-hidden="true"></i>
            Download a copy of my CV
        </button>
    </div>
</main>
