<main class="row page resume">
    <section id="container-title">
        <h1>Mike Stumpf</h1>
    </section>
    <section id="container-body" class="small-12 columns">
        <div id="resume-summary">
            {{{page.body}}}
        </div>
        <div class="text-center">
            <h2>&nbsp;</h2>
            <!--todo, style button-->
            <h5><button href="/files/Mike_Stumpf_CV.pdf" target="_blank">Download a copy of my CV</button></h5>
        </div>
    </section>
</main>
