<main id="page-travel" class="grid-container row">
    <h1 class="page-title">Travel</h1>
    <section id="container-images">
        <div class="travel-images">
            {{#each images}}
                <div style="background-image:url('{{url}}');">
                    <div class="image-caption-holder">
                        <h3>{{{title}}}</h3>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
    <section id="container-rule" class="col-sm-12">
        <hr/>
    </section>
    <section id="container-google"></section>
</main>