<main id="page-travel" class="grid-container row page-container">
    <div class="col-sm-12">
        <h1 id="travel-title" class="page-title">Travel</h1>
    </div>
    <section id="travel-images-container">
        <div id="travel-images">
            {{#each images}}
                <div style="background-image:url('{{url}}');">
                    <div class="travel-image-caption-container">
                        <h3>{{{title}}}</h3>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
    <div id="travel-rule">
        <hr/>
    </div>
    <section id="travel-map-container"></section>
</main>