/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
#resume-title {
  border-left: 20px solid #B70101;
  padding-left: 15px;
  margin-left: -10px; }

#resume-body h2 {
  border-bottom: 1px solid #594D4B;
  padding: 20px 0 5px 0;
  text-align: center;
  text-transform: uppercase; }

#resume-body h3 {
  margin: 30px 0 10px 0; }

#resume-body span {
  display: inline !important;
  -webkit-transition: color 250ms ease-out 0s;
  -moz-transition: color 250ms ease-out 0s;
  -o-transition: color 250ms ease-out 0s;
  transition: color 250ms ease-out 0s; }

#resume-body a:hover span {
  color: #d3d3d3; }

#resume-body ul {
  list-style: circle;
  padding: 0 10px; }
