<main class="row page homepage">
    <div class="small-12 columns">
        <h1>
            Title: {{page.title}}
        </h1>
        <h3>
            Description: {{{page.body}}}
        </h3>
    </div>
</main>
