<div class="post-container col-sm-6 col-md-4 col-lg-3" data-url="{{url}}">
    <div class="post-content">
        <h3 class="post-title">{{title}}</h3>
        <h5 class="post-date">
            <i class="fa fa-calendar"></i>{{postDate}}
        </h5>
        <hr>
        <div class="post-excerpt">
            {{{excerpt}}}
        </div>
    </div>
</div>