//core
//----------------------
$content-height: 500px;

#bubbles-container {
  border: 5px double $color-font-black;
  width:100%;
  height: $content-height;
  overflow: hidden;
  position: relative;
}

.bubble {
  position: absolute;
  background-color:purple;
  border-radius: 50%;
  opacity: 0;
}

#bubbles-code-desktop {
  overflow: scroll;
  max-width: 100%;
  height: $content-height;
}

#bubble-controls-container {
  margin-top: 50px;
  label {
    white-space: nowrap;
  }
  input {
    width: 50px;
  }
  button {
    margin-top: 0;
  }
}

#bubbles-control-start {
  span:after {
    content: '\f144';
  }
}

#bubbles-control-stop {
  span:after {
    content: '\f28d';
  }
}

#bubbles-control-clear {
  span:after {
    content: '\f05e';
  }
}