//core
//----------------------
#chorus-main-container {
  height: 400px;
  position: relative;
}

.chorus-instrument-container {
  opacity: 0;
  display: none;
  @include center-absolute;
  &:first-child {
    opacity: 1;
    display: block;
  }
}

.chorus-tab {
  padding: 1.25rem 1.5rem;
  display: inline-block;
  text-transform: uppercase;
  @include transition-raw("background 300ms ease-out 0s,color 300ms ease-out 0s");
  &.active {
    background: $color-anchor-hover;
    color: $color-font-black;
  }
}

//bug fixes
.chorus-result-item-selected, .chorus-result-item:hover {
  span {
    color: white;
  }
}

.chorus-string-container {
  margin: 0 0 10px 0;
}