#portfolio-quote-container {
  margin-bottom: 10px;
  text-align: center;
  height: 150px;
  border: 1px solid rgba(10,10,10,0.25);
  position: relative;
}

.portfolio-quote {
  max-width: 75%;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  h5 {
    margin: 0;
  }
}