h1,h2,h3,h4,h5,a,li,blockquote {
  color: $color-black;
  font-family: $font-open-sans-condensed;
}
p {
  color: $color-black;
  font-family: $font-texgyre-regular;
}
a {
  @include transition-with-defaults(color);
}
.column-width-2 {
  @include column-count(2);
}
#modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  background-color: rgba($color-dark-grey,0.75);
  overflow-y: scroll;
  @include unselectable;
  @include fade-in-default;
}
.close-button {
  &:focus {
    @include no-border;
  }
}
.reveal {
  @include no-border;
}