.serif-default {
  color: $color-black;
  font-family: $font-texgyre-regular;
}
.san-serif-default {
  color: $color-black;
  font-family: $font-open-sans-condensed;
}
h1,h2,h3,h4,h5,a,li,blockquote {
  @extend .san-serif-default;
}
p {
  @extend .serif-default;
}
a {
  @include transition-with-defaults(color);
}
.column-width-2 {
  @include column-count(2);
}
#modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  height:0;
  z-index: -1;
  background-color: rgba($color-dark-grey,0.75);
  overflow-y: scroll;
  @include unselectable;
  @include fade-in-default;
}
.close-button {
  &:focus {
    @include no-border;
  }
}
.reveal {
  @include no-border;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
}
.button {
  @include unselectable;
  &:focus {
    outline: none;
  }
}
//fade in animation
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}