.page.resume {
  #container-title {
    @include faded-out;
    h1 {
      border-left: 20px solid $color-badgers-red;
      padding-left: 15px;
      @include mobile {
        border-left: 15px solid $color-badgers-red;
      }
    }
  }
  #container-body {
    padding: 0 40px;
    h2 {
      border-bottom: 1px solid $color-dark-grey;
      padding: 20px 0 5px 0;
      text-align: center;
      text-transform: uppercase;
      @include faded-out;
    }
    h3 {
      margin: 30px 0 10px 0;
      @include faded-out;
    }
    h4, h5 {
      @include faded-out;
    }
    p {
      @include faded-out;
    }
    a {
      font-size: rem-calc(20);
    }
    ul {
      list-style: circle;
      padding: 0 10px;
      @include faded-out;
      li {
        font-family: $font-texgyre-regular;
      }
    }
  }
}
