$feast-green: #00D9BF;
$feast-brown: #A69997;
$feast-black: #403736;
$feast-dark-black: #362220;
$feast-grey: #807370;
$feast-dark-grey: #594D4B;
$feast-dark-brown: #4D1B0F;
$feast-light-brown: #806660;
$feast-tag-border: #C0B3B0;