@import 'fonts';
@import 'colours';
@import 'mixins';
@import 'media-queries';

//main styles
//-----------------------------
body {
  font-family: $global-font-proza-libre;
  color: $color-font-black;
  background: url('/images/background.svg');
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $global-font-raleway;
}

img,
input {
  max-width: 100%;
}

p {
  margin: 0 0 10px 0;

  &.error {
    margin-top: 10px;
    color: red;
  }
}

hr {
  border-color: $color-default-hr-border;
}

a {
  color: $color-font-black;
  cursor: pointer;
  text-decoration: none;
  @include transition-with-defaults(color);

  &:hover {
    color: $color-anchor-hover;
  }
}

iframe {
  width: 100%;
  max-width: 100%;
}

.page-title {
  font-family: $global-font-raleway-thin;
  border-left: 20px solid $color-badgers-red;
  margin: 10px 0 1.5rem -10px;
  padding: 0 0 0 15px;
}

.button {
  display: block;
  border-radius: 5px;
  background-color: $color-york-blue;
  border: 2px solid $color-york-blue;
  text-align: center;
  font-size: 1.25rem;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px auto 10px auto;
  width: 355px;
  max-width: calc(100% - 24px);
  vertical-align: middle;
  outline: none;
  color: $color-white;
  font-family: $global-font-raleway-thin;
  @include unselectable;

  &:hover:not(.disabled) {
    border-radius: 50px;
    background-color: $color-white;
    box-shadow: 0 5px 15px 0 $color-box-shadow;
    color: $color-york-blue;
  }

  &.disabled,
  &.disabled span {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.small-button {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
  outline: none;
  width: 35px;
  margin: 5px;
  transition: all 0.5s;
  background-color: $color-jays-dark-blue;
  border: 2px solid $color-jays-dark-blue;
  color: $color-white;
  @include unselectable;

  &:hover {
    background-color: $color-white;
    color: $color-font-black;
    box-shadow: 0 0 15px 0 $color-box-shadow;
  }
}

.input {
  border: 2px inset #eeeeee;
  padding: 7px 5px;
  @include transition-with-defaults(border-color);

  &:focus {
    outline: none;
  }

  &.error {
    border-color: red;
  }
}

.list-item-selector {
  position: relative;
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid $color-box-shadow;
}

.list-item {
  display: block;
  padding: 10px;
  background-color: white;
  font-family: $global-font-raleway;
  -webkit-appearance: none;
  @include unselectable;
  @include transition-raw(
    'background-color 300ms ease-out 0s,color 300ms ease-out 0s'
  );

  &.selected,
  &:hover {
    background-color: $color-york-green;
    color: white;
  }
}

//helper classes
//-----------------------------
.faded-out {
  display: none;
  opacity: 0;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0;
}

.horizontal-center {
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.position-relative {
  position: relative;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}

.border-frame {
  border: 5px double #333333;
}

//typography
//-----------------------------
.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

//route transitions
//----------------------
.fade-enter {
  @include center-absolute;
  @include transition-with-defaults(opacity);
  opacity: 0.01;
  z-index: 1;
}

.fade-enter-active {
  position: relative;
  opacity: 1;
}

.fade-exit {
  position: relative;
  opacity: 1;
}

.fade-exit-active {
  @include center-absolute;
  opacity: 0.01;
}

//desktop styles
@include tablet-up {
  body {
    //header placeholder
    padding-top: 65px;
  }
  .page-title {
    margin-bottom: 0;
  }
}
