@import "../../base/mixins";
@import "../../base/colours";
@import "../../base/media-queries";

$mobile-size: 35px;
$tablet-size: 70px;
$desktop-size: 105px;

.metronome-indicator-container {
  position: relative;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
  @include transition-with-defaults(box-shadow);
  &:hover {
    box-shadow: 0 5px 15px 0 $color-box-shadow;
  }
}

.metronome-indicator {
  background-color: $color-jays-light-blue;
  border-radius: 50%;
  width: $mobile-size;
  height: $mobile-size;
  @include transition-with-defaults(all);
  &.active {
    background-color: $color-badgers-red;
    animation: tick 0.5s;
  }
  &.silent {
    background-color: black;
  }
}

.metronome-indicator-number {
  text-align: center;
  height: 18px;
  color: white;
  @include center-absolute;
}

.metronome-controls-container, #metronome-indicators-container {
  margin: 25px auto 10px auto;
  text-align: center;
  position: relative;
}

@keyframes tick {
  0%   {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.0);
  }
}

@include tablet-up {
  .metronome-indicator {
    width: $tablet-size;
    height: $tablet-size;
  }
  .metronome-controls-container, #metronome-indicators-container {
    margin: 50px auto 10px auto;
  }
}

@include desktop {
  .metronome-indicator {
    width: $desktop-size;
    height: $desktop-size;
  }
}