<main id="post-music" class="grid-container row align-center">
    <section id="container-body" class="small-12 medium-10 large-8">
        <h3 class="post-title">{{title}}</h3>
        <h5 class="post-date"><i class="fa fa-calendar"></i>{{datePublished}}</h5>
        <hr class="post-divider">
        <div class="post-body">
            {{{body}}}
        </div>
    </section>
</main>