footer {
  text-align: center;
  margin-top: 150px;
  @include fade-in-default;
  #footer-find-me {
    padding-top: 50px;
    h5 {
      padding: 0.7rem 1rem;
      margin: 0;
      white-space: nowrap;
    }
    i {
      &.fa {
        font-size: rem-calc(25);
      }
    }
  }
}