footer {
  text-align: center;
  margin-top: 200px;
  #footer-find-me {
    padding-top: 50px;
    h5 {
      padding: 0.7rem 1rem;
      margin: 0;
    }
    i {
      &.fa {
        font-size: rem-calc(25);
      }
    }
  }
  #footer-portfolio {
    h5 {
      display: inline-block;
      padding: 10px 25px;
      border-bottom: 1px solid $black;
    }
    a {
      font-size: rem-calc(18);
    }
  }
}