header {
  @include fade-in-default;
  a {
    color: $black;
    font-size: rem-calc(20);
    font-family: $font-open-sans-condensed;
    text-transform: uppercase;
    @include raw-transition(color 300ms ease-out 0s, background-color 300ms ease-out 0s);
    &:hover {
      color: $white;
      background-color: $black;
    }
  }
}