.square-blocks {
  div {
    text-align: center;
    position: relative;
    &.body-highlight {
      .block-body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 105px;
        .fa {
          color: $color-dark-grey;
          font-size: rem-calc(120);
        }
      }
      .hover-filter {
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        height: 0;
        margin: auto;
        &.hover-filter-back {
          background-color: $color-jays-dark-blue;
          @include opacity(0.8);
        }
        &.hover-filter-front {
          background-color: $color-jays-light-blue;
          @include opacity(0.9);
        }
        &.hover-filter-text {
          @include opacity(0);
          top: 0;
          h2 {
            color: white;
            font-size: rem-calc(40);
          }
        }
        &.hover-filter-overlay {
          cursor: pointer;
          @include opacity(0);
        }
      }
    }
  }
}