.page.portfolio {
  #container-quote {
    @include opacity(0);
    .callout {
      margin: 50px 0;
      padding: 30px;
      text-align: center;
      @include breakpoint(small only) {
        text-align: left;
      }
    }
  }
  #container-sliders {
    .slider-header {
      margin: 50px 0 20px 10%;
      @include fade-in-default;
    }
    .slider-container {
      background-color: rgba(54,34,32,0.3);
      @include fade-in-default;
      .portfolio-carousel {
        background-color: $color-dark-grey;
        height: 250px;
        max-width: 75%;
        min-width: 300px;
        margin: auto;
        .portfolio-item {
          text-align: center;
          div {
            margin: 10px;
            padding: 10px;
            height: 230px;
            background-color: white;
            position: relative;
            cursor:pointer;
            .fa {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              line-height: rem-calc(64);
              height: rem-calc(65);
              font-size: rem-calc(64);
            }
          }
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }
  }
  #container-modals {
    .reveal {
      &.small {
        width: 50%!important;
        @include breakpoint(small only) {
          width: 80%!important;
        }
      }
    }
  }
}