.page.music {
  #container-content {
    margin-top: 50px;
    .post {
      width: 32%;
      margin: 0.5%;
      background-color: $color-white;
      &:hover {
        .content-post {
          border-color: $color-badgers-gold;
        }
      }
      &[data-group="1"]{
        @include fade-in-default;
      }
      @include breakpoint(small only) {
        width: 96%;
        margin: 2%;
      }
      @include breakpoint(medium only) {
        width: 48%;
        margin: 1%;
      }
      .content-post {
        padding: 10px;
        border: 5px double $color-desert-black;
        text-align: justify;
        height: 100%;
        width: 100%;
        cursor:pointer;
        @include transition-with-defaults(border);
      }
    }
  }
  #container-button {
    margin-top: 50px;
    text-align: center;
    #loading-spinner {
      margin: 10px;
      font-size: rem-calc(60);
      display: block!important;
      color: $color-jays-light-blue;
      @include fade-in-default;
    }
  }
}