.page.portfolio {
  #container-quote {
    @include opacity(0);
    .callout {
      margin: 50px 0;
      padding: 30px;
      text-align: center;
      @include breakpoint(small only) {
        text-align: left;
      }
    }
  }
  #container-sliders {
    .slider-header {
      margin: 50px 0 20px 10%;
      @include fade-in-default;
    }
    .slider-container {
      background-color: rgba($color-dark-black,0.3);
      @include fade-in-default;
      .portfolio-carousel {
        background-color: $color-dark-grey;
        height: 250px;
        max-width: 75%;
        min-width: 300px;
        margin: auto;
        .portfolio-item {
          text-align: center;
          .portfolio-content {
            margin: 10px;
            padding: 10px;
            height: 230px;
            background-color: white;
            position: relative;
            cursor:pointer;
            .fa {
              line-height: rem-calc(64);
              font-size: rem-calc(64);
              height: rem-calc(65);
              @include center-absolute;
              @include transition-with-defaults(color);
            }
            .fa-stack {
              width:100%;
              height:100%;
              @include center-absolute;
              &.bubbles {
                width: 175px;
                @include breakpoint(small only) {
                  width: 200px;
                }
                .fa-stack-1x {
                  bottom: 62.5%;
                  top: initial;
                  left: 22.5%;
                  right: initial;
                  width: rem-calc(64);
                  line-height: rem-calc(32);
                  font-size: rem-calc(32);
                }
                .fa-stack-2x {
                  bottom: 37.5%;
                  top: initial;
                  left: 7.5%;
                  right: initial;
                  width: rem-calc(64);
                  line-height: rem-calc(64);
                  font-size: rem-calc(64);
                }
                .fa-stack-3x {
                  bottom: 5%;
                  top: initial;
                  line-height: rem-calc(96);
                  font-size: rem-calc(96);
                }
              }
              .fa {
                height: auto;
              }
            }
          }
          &:hover {
            .fa{
              color: $color-light-purple;
            }
          }
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }
  }
  #container-modals {
    .reveal {
      &.small {
        width: 50%!important;
        @include breakpoint(medium down) {
          width: 80%!important;
        }
      }
      h3 {
        font-weight: bold;
      }
      .tech-stack {
        font-family: $font-open-sans-condensed;
        font-size: rem-calc(18);
        @include breakpoint(small only) {
          padding: 20px 0;
        }
        .title {
          font-size: rem-calc(16);
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      a {
        font-size: rem-calc(18);
        white-space: nowrap;
        padding-bottom: 10px;
      }
    }
  }
}