.page.portfolio {
  .quote {
    margin: 50px 0;
    padding: 30px;
    text-align: center;
    @include breakpoint(small only) {
      text-align: left;
    }
  }
  .portfolio-sliders {
    h2 {
      margin: 50px 0 20px 10%;
    }
    .slider-container {
      background-color: rgba(54,34,32,0.3);
      .portfolio-carousel {
        background-color: $color-dark-grey;
        height: 250px;
        max-width: 75%;
        min-width: 300px;
        margin: auto;
        .portfolio-item {
          text-align: center;
          div {
            margin: 10px;
            padding: 10px;
            height: 230px;
            background-color: white;
          }
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }
  }
  .modals {
    .reveal {
      &.small {
       width: 50%!important;
      }
    }
  }
}