.portfolio {
  .portfolio-links {
    a {
      font-size: rem-calc(20);
      margin-right: 25px;
      .fa {
        margin-right: 10px;
        font-size: rem-calc(26);
      }
    }
  }
}

.portfolio.portfolio-item {
  &.bubbles {
    #container-content {
      .content {
        height: 500px;
        &#content-bubbles {
          overflow:hidden;
          position: relative;
          .bubble {
            position: absolute;
            background-color:purple;
            @include border-radius(50%);
            @include opacity(0.4);
          }
        }
      }
    }
  }
}