#container-content {
  margin-top: 50px;
}

.post-container {
  display: flex;
  background-color: $color-white;
  margin-bottom: 10px;
  &:hover {
    .post-content {
      border-color: $color-badgers-gold;
    }
  }
}

.post-content {
  width: 100%;
  padding: 20px;
  border: 5px double $color-desert-black;
  text-align: justify;
  cursor: pointer;
  @include transition-with-defaults(border-color);
}

.post-date {
  .fa {
    margin-right: 5px;
  }
}

.post-divider {
  margin: 10px 0;
}