//core
//----------------------
.music-post-container {
  display: flex;
  margin-bottom: 10px;
  &:hover {
    .music-post-content {
      border-color: $color-badgers-gold;
    }
  }
}

.music-post-content {
  width: 100%;
  padding: 20px;
  border: 5px double $color-font-black;
  color: $color-font-black;
  @include transition-with-defaults(border-color);
}

.music-post-excerpt {
  text-align: justify;
}

.music-post-date {
  margin: 0;
  .fa {
    margin-right: 5px;
  }
}