<footer class="grid-container row">
    <div id="footer-social-container" class="col-sm-12">
        <h4 id="footer-social-title">Find Me:</h4>
        <a href="https://www.linkedin.com/in/mikestumpf" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/mike-stumpf" target="_blank">
            <i class="fa fa-github-alt"></i>
        </a>
        <a href="http://stackexchange.com/users/1282257/mike-stumpf?tab=accounts" target="_blank">
            <i class="fa fa-stack-overflow"></i>
        </a>
    </div>
</footer>
<!-- JS -->
<script type="text/javascript" src="/app.base.min.js"></script>
<script type="text/javascript" src="/app.handlebars.min.js"></script>
<script type="text/javascript" src="/app.main.min.js"></script>
{{#if googleMapsApi}}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApi}}&callback=app.views.travel.initializeMap"></script>
{{/if}}