<footer>
    <div class="row">
        <div id="footer-find-me" class="small-12 medium-4 columns">
            <ul class="menu">
                <li>
                    <h5>Find Me:</h5>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mikestumpf" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://github.com/mike-stumpf" target="_blank"><i class="fa fa-github-alt"></i></a>
                </li>
                <li>
                    <a href="http://stackexchange.com/users/1282257/mike-stumpf?tab=accounts" target="_blank"><i class="fa fa-stack-overflow"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="modal-overlay">&nbsp;</div>
</footer>