<footer class="row">
    <p class="small-12 medium-4 columns">{{{footerOptions.left}}}</p>
    <p class="small-12 medium-4 columns"><b>{{{footerOptions.center}}}</b></p>
    <p class="small-12 medium-4 columns">{{{footerOptions.right}}}</p>
</footer>
<script type="text/javascript" src='/js/app.footer.min.js'></script>
<script type="text/javascript" src='/js/app.main.min.js'></script>