<header>
    <ul>
        {{#each menuItems}}
            <li>
                <a href="{{url}}" class="{{#if isActive}}active{{/if}}">{{title}}</a>
            </li>
        {{/each}}
    </ul>
</header>
