<section id="container-portfolio-footer">
    {{#isNotEmpty demoUrl}}
        <a href="{{demoUrl}}"><i class="fa fa-desktop"></i>Demo</a>
    {{/isNotEmpty}}
    {{#isNotEmpty repoUrl}}
        <a href="{{repoUrl}}"><i class="fa fa-code"></i>Code</a>
    {{/isNotEmpty}}
</section>