<section id="container-portfolio-footer" class="small-12 medium-6 columns order-2 medium-order-1">
    <div class="portfolio-links row">
        {{#isNotEmpty url}}
            <section class="small-6 columns">
                <a href="{{url}}"><i class="fa fa-folder-open-o"></i>View Project</a>
            </section>
        {{else}}
            {{#isNotEmpty demoUrl}}
                <div class="small-6 columns">
                    <a href="{{demoUrl}}"><i class="fa fa-desktop"></i>View Demo</a>
                </div>
            {{/isNotEmpty}}
        {{/isNotEmpty}}
        {{#isNotEmpty repoUrl}}
            <div class="small-6 columns">
                <a href="{{repoUrl}}" target="_blank"><i class="fa fa-code"></i>View Code</a>
            </div>
        {{/isNotEmpty}}
    </div>
</section>