<section id="container-portfolio-footer" class="small-12 columns">
    <div class="portfolio-links">
        {{#isNotEmpty demoUrl}}
            <a href="{{demoUrl}}"><i class="fa fa-desktop"></i>Demo</a>
            <br/>
        {{/isNotEmpty}}
        {{#isNotEmpty repoUrl}}
            <a href="{{repoUrl}}"><i class="fa fa-code"></i>Code</a>
        {{/isNotEmpty}}
    </div>
</section>