<div id="page-error-500" class="error-page grid-container row text-center page-container">
    <section id="error-title-container" class="col-sm-12 col-md-4">
        <h3>Error:</h3>
        <h1 class="page-title error-title">500</h1>
    </section>
    <section class="col-sm-12 col-md-8">
        <div id="error-warning-container">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <p>Sorry, please try again later.</p>
    </section>
    <div class="col-sm-12 col-md-8 col-md-offset-4">
        <a class="button error-button" href="/">
            <span>Go To Homepage</span>
        </a>
    </div>
</div>