/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
@media (max-width: 767px) {
  .hide-for-small {
    display: none; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hide-for-medium {
    display: none; } }

@media (min-width: 768px) {
  .hide-for-medium-up {
    display: none; }
  .show-for-small {
    display: none; } }

@media (min-width: 1024px) {
  .hide-for-large {
    display: none; } }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.instrument-container {
  margin: 50px 0; }

.list-item-selector {
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #888888; }

.list-item {
  display: block;
  padding: 10px;
  background-color: white;
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s; }
  .list-item.selected, .list-item:hover {
    background-color: #18453B;
    color: white; }

#no-results {
  text-align: center;
  margin-top: 50px; }

@media (min-width: 768px) {
  .instrument-selector {
    max-height: 250px; } }

.string {
  width: 100%;
  clear: both;
  overflow: hidden; }
  .string:nth-child(2) {
    border-top: 1px solid black; }
  .string:last-child {
    border-bottom: 1px solid black; }

.fret-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px; }
  .fret-marker .fret {
    vertical-align: middle;
    border-right-color: transparent; }
  .fret-marker p {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px; }
    .fret-marker p:before {
      border: none; }

.fret {
  display: inline-block;
  font-size: 16px;
  width: 7.5%;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-right: 1px solid black;
  float: left;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }
  .fret:first-child {
    border-right: 5px solid black; }
  .fret:not(:first-child) p {
    position: relative;
    z-index: 1; }
    .fret:not(:first-child) p:before {
      border-top: 2px solid #dfdfdf;
      content: "";
      margin: 0 auto;
      /* this centers the line to the full width specified */
      position: absolute;
      /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1; }
    .fret:not(:first-child) p span {
      background-color: white;
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      padding: 0 5px; }
  .fret p span {
    white-space: nowrap; }

.piano-keyboard {
  position: relative;
  height: 500px;
  max-width: 100%;
  display: flex; }

.piano-key {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  -webkit-transition: box-shadow 250ms ease-out 0s;
  -moz-transition: box-shadow 250ms ease-out 0s;
  -o-transition: box-shadow 250ms ease-out 0s;
  transition: box-shadow 250ms ease-out 0s; }
  .piano-key:hover {
    box-shadow: 0 0 15px #888888;
    z-index: 1; }
  .piano-key.white {
    position: relative;
    color: black;
    background: white;
    height: 95.5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 14.28571%;
    vertical-align: bottom;
    float: left; }
    .piano-key.white:first-child {
      border-left: 1px solid black; }
  .piano-key.black {
    position: absolute;
    top: 0;
    height: 65%;
    margin-left: -4.245%;
    width: 8.49%;
    background: black;
    z-index: 10; }
    .piano-key.black span {
      color: white; }
    .piano-key.black[data-note="4"] {
      left: 14.15%; }
    .piano-key.black[data-note="6"] {
      left: 28.3%; }
    .piano-key.black[data-note="9"] {
      left: 56.6%; }
    .piano-key.black[data-note="11"] {
      left: 70.75%; }
    .piano-key.black[data-note="1"] {
      left: 84.9%; }
  .piano-key p {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    width: 50px;
    max-width: 100%;
    display: inline-block; }

.note, .fret p, .piano-key p {
  text-align: center;
  padding: 5px 0;
  margin: 0 auto; }
  .note span, .fret p span, .piano-key p span {
    padding: 5px 0;
    border-radius: 15%;
    width: 55px;
    display: inline-block;
    max-width: 100%;
    -webkit-transition: background-color 500ms ease-out 0s,color 500ms ease-out 0s;
    -moz-transition: background-color 500ms ease-out 0s,color 500ms ease-out 0s;
    -o-transition: background-color 500ms ease-out 0s,color 500ms ease-out 0s;
    -ms-transition: background-color 500ms ease-out 0s,color 500ms ease-out 0s;
    transition: background-color 500ms ease-out 0s,color 500ms ease-out 0s; }
  .note.found span, .fret p.found span, .piano-key p.found span {
    background-color: #E7D9C1 !important; }
  .note.selected span, .fret p.selected span, .piano-key p.selected span {
    color: white;
    background-color: #003DA5 !important; }
  .note.root span, .fret p.root span, .piano-key p.root span {
    color: white;
    background-color: #B70101 !important; }
