@import "../../base/colours.scss";
@import "../../base/mixins.scss";
@import "../../base/media-queries.scss";
@import "../../base/fonts.scss";

//hauptstimme
//----------------------
.instrument-selector {
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid $color-box-shadow;
}

.available-instrument {
  display: block;
  padding: 10px;
  background-color: white;
  font-family: $global-font-raleway;
  @include transition-raw("background-color 300ms ease-out 0s,color 300ms ease-out 0s");
  &.selected, &:hover {
    background-color: $color-york-green;
    color: white;
  }
}

@include tablet-up {
  .instrument-selector {
    max-height: 250px;
  }
}