/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
@media (max-width: 767px) {
  .hide-for-small {
    display: none; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hide-for-medium {
    display: none; } }

@media (min-width: 768px) {
  .hide-for-medium-up {
    display: none; }
  .show-for-small {
    display: none; } }

@media (min-width: 1024px) {
  .hide-for-large {
    display: none; } }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.instrument-selector {
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #888888; }

.available-instrument {
  display: block;
  padding: 10px;
  background-color: white;
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  -webkit-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s;
  transition: background-color 300ms ease-out 0s,color 300ms ease-out 0s; }
  .available-instrument.selected, .available-instrument:hover {
    background-color: #18453B;
    color: white; }

@media (min-width: 768px) {
  .instrument-selector {
    max-height: 250px; } }
