@import "../../base/mixins.scss";
@import "../../base/colours.scss";
@import "../../base/media-queries.scss";

$mobile-size: 25px;
$tablet-size: 50px;
$desktop-size: 75px;

.metronome-indicator-container {
  position: relative;
  margin: auto;
}

.metronome-indicator {
  background-color: $color-jays-light-blue;
  border-radius: 50%;
  width: $mobile-size;
  height: $mobile-size;
  @include transition-with-defaults(all);
  &.active {
    background-color: $color-badgers-red;
    animation: tick 0.5s;
  }
}

.metronome-indicator-number {
  text-align: center;
  height: 18px;
  color: white;
  @include center-absolute;
}

@keyframes tick {
  0%   {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.0);
  }
}

@include tablet-up {
  .metronome-indicator {
    width: $tablet-size;
    height: $tablet-size;
  }
}

@include desktop {
  .metronome-indicator {
    width: $desktop-size;
    height: $desktop-size;
  }
}