/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
@media (max-width: 767px) {
  .hide-for-small {
    display: none; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hide-for-medium {
    display: none; } }

@media (min-width: 768px) {
  .hide-for-medium-up {
    display: none; }
  .show-for-small {
    display: none; } }

@media (min-width: 1024px) {
  .hide-for-large {
    display: none; } }

.metronome-indicator-container {
  position: relative;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: box-shadow 250ms ease-out 0s;
  -moz-transition: box-shadow 250ms ease-out 0s;
  -o-transition: box-shadow 250ms ease-out 0s;
  transition: box-shadow 250ms ease-out 0s; }
  .metronome-indicator-container:hover {
    box-shadow: 0 5px 15px 0 #888888; }

.metronome-indicator {
  background-color: #003DA5;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-transition: all 250ms ease-out 0s;
  -moz-transition: all 250ms ease-out 0s;
  -o-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s; }
  .metronome-indicator.active {
    background-color: #B70101;
    animation: tick 0.5s; }
  .metronome-indicator.silent {
    background-color: black; }

.metronome-indicator-number {
  text-align: center;
  height: 18px;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.metronome-controls-container, #metronome-indicators-container {
  margin: 25px auto 10px auto;
  text-align: center; }

@keyframes tick {
  0% {
    transform: scale(1.15); }
  100% {
    transform: scale(1); } }

@media (min-width: 768px) {
  .metronome-indicator {
    width: 70px;
    height: 70px; }
  .metronome-controls-container, #metronome-indicators-container {
    margin: 50px auto 10px auto; } }

@media (min-width: 1024px) {
  .metronome-indicator {
    width: 105px;
    height: 105px; } }
