<main id="portfolio-bubbles" class="grid-container row page-container">
    <h1 class="page-title col-sm-12">Portfolio - Bubbles</h1>
    <section id="bubbles-code-desktop" class="col-sm-6 hide-for-small">
        {{>bubbles-code}}
    </section>
    <section id="bubbles-container" class="col-sm-12 col-md-6">
        <!--populated dynamically-->
    </section>
    <section id="bubble-controls-container" class="col-sm-12">
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <label for="bubbles-input-small">Small: </label>
                <input id="bubbles-input-small" type="number" value="30" min="0" max="100" maxlength="3"/>
            </div>
            <div class="col-sm-4 col-md-2">
                <label for="bubbles-input-medium">Medium: </label>
                <input id="bubbles-input-medium" type="number" value="20" min="0" max="100" maxlength="3"/>
            </div>
            <div class="col-sm-4 col-md-2">
                <label for="bubbles-input-large">Large: </label>
                <input id="bubbles-input-large" type="number" value="10" min="0" max="100" maxlength="3"/>
            </div>
            <div class="col-sm-4 col-md-2">
                <button id="bubbles-control-start" type="button" class="button">
                    <span>Start</span>
                </button>
            </div>
            <div class="col-sm-4 col-md-2">
                <button id="bubbles-control-stop" class="button disabled" type="button">
                    <span>Stop</span>
                </button>
            </div>
            <div class="col-sm-4 col-md-2">
                <button id="bubbles-control-clear" class="button disabled" type="button">
                    <span>Clear</span>
                </button>
            </div>
            <a id="bubbles-code-button" href="#modal-bubbles-code" class="button col-sm-12 show-for-small">
                <span>View Code</span>
            </a>
        </div>
    </section>
    <aside class="modal--fade" id="modal-bubbles-code" data-stackable="false" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
        <div class="modal-inner">
            {{>bubbles-code}}
        </div>
        <a href="#!" class="modal-close" title="Close this modal"
           data-dismiss="modal" data-close="Close">&times;</a>
    </aside>
</main>