<main class="single portfolio bubbles">
    <section id="container-content" class="row">
        <div id="content-code" class="small-12 medium-6 columns small-order-2 medium-order-1 content">
            <div id="code-mobile" class="portfolio-links">
                <a data-open="modal-code"><i class="fa fa-code"></i>View Code</a>
            </div>
            <div id="code-desktop">{{>bubbles-code}}</div>
        </div>
        <div id="content-bubbles" class="small-12 medium-6 columns small-order-1 medium-order-2 content">
            <div id="bubble-holder">
            </div>
        </div>
    </section>
    <section id="container-controls" class="small-12 columns">
        <div class="row">
            <div class="small-4 medium-2 columns">
                <label for="smallBubbles">Small Bubbles</label>
                <input id="smallBubbles" type="number" value="30" min="0"/>
            </div>
            <div class="small-4 medium-2 columns">
                <label for="mediumBubbles">Medium Bubbles</label>
                <input id="mediumBubbles" type="number" value="20" min="0"/>
            </div>
            <div class="small-4 medium-2 columns">
                <label for="largeBubbles">Large Bubbles</label>
                <input id="largeBubbles" type="number" value="10" min="0"/>
            </div>
            <div class="small-4 medium-2 columns">
                <button id="startBubbles" class="button">Start Bubbles</button>
            </div>
            <div class="small-4 medium-2 columns">
                <button id="stopBubbles" class="button disabled">Stop Bubbles</button>
            </div>
            <div class="small-4 medium-2 columns">
                <button id="clearBubbles" class="button disabled">Clear Bubbles</button>
            </div>
        </div>
    </section>
    <section id="container-modals">
        <div class="reveal small" id="modal-code" data-reveal data-overlay="false" data-close-on-click="false">
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <section class="small-12 columns">
                    {{>bubbles-code}}
                    <button class="button" data-close aria-label="Close reveal" type="button">
                        <span aria-hidden="true">Close</span>
                    </button>
                </section>
            </div>
        </div>
    </section>
</main>