<main id="portfolio-chorus" class="grid-container row page-container">
    <h1 class="page-title">Chorus.js</h1>
    <div class="small-12 columns">
        <ul class="tabs" id="chorus-tabs" data-tabs>
            <li class="tabs-title is-active">
                <a href="#chorus-guitar" aria-selected="true">Guitar</a>
            </li>
            <li class="tabs-title">
                <a href="#chorus-piano">Piano</a>
            </li>
            <li class="tabs-title">
                <a href="#chorus-bass">Bass</a>
            </li>
            <li class="float-right">
                <a data-open="modal-help">Help</a>
            </li>
            <li class="float-right">
                <a data-open="modal-info">Info</a>
            </li>
        </ul>
        <div class="tabs-content" data-tabs-content="chorus-tabs">
            <div id="chorus-guitar" class="tabs-panel is-active">
            </div>
            <div id="chorus-piano" class="tabs-panel">
            </div>
            <div id="chorus-bass" class="tabs-panel">
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <ul class="accordion" data-accordion role="tablist" data-allow-all-closed="true">
                    <li class="accordion-item">
                        <a href="#results-scales" role="tab" class="accordion-title chorus-results" id="results-scales-heading" aria-controls="results-scales">Scales</a>
                        <div id="results-scales" class="accordion-content results-container" role="tabpanel" data-tab-content aria-labelledby="results-scales-heading">
                            No results yet
                        </div>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 columns">
                <ul class="accordion" data-accordion role="tablist" data-allow-all-closed="true">
                    <li class="accordion-item">
                        <a href="#results-chords" role="tab" class="accordion-title chorus-results" id="results-chords-heading" aria-controls="results-chords">Chords</a>
                        <div id="results-chords" class="accordion-content results-container" role="tabpanel" data-tab-content aria-labelledby="results-chords-heading">
                            No results yet
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="reveal small" id="modal-info" data-reveal data-overlay="false" data-close-on-click="false">
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <section class="small-12 columns">
                <div class="reveal-body">
                    <hr>
                    <h3>Info</h3>
                    <hr>
                    <p>
                        * This project is registered as a <a href="http://bower.io/" target="_blank">Bower</a> package.
                    <pre class="prettyprint">bower install chorus-js --save</pre>
                    </p>
                    <p>
                        * This project was built entirely in native JavaScript and Sass.
                    </p>
                    <p>
                        * This project is able to search both musical scales and chords to match the selected notes on the fretboard or piano keys.
                    <p>
                        * There are <span class="callout">90</span> different fretted instrument tunings available as well as piano.
                    </p>
                    <p>
                        * There are <span class="callout">26</span> searchable scale types resulting in around <span class="callout">300</span> possible variations, based on the root note.
                    </p>
                    <p>
                        * There are <span class="callout">45</span> chord types which produce over <span class="callout">600</span> searchable results.
                    </p>
                    <hr>
                    <h3>Notes</h3>
                    <hr>
                    <p>
                        * Search results do not include theoretical scales, i.e. scales that contain notes with more than one sharp or flat.
                    </p>
                    <p>
                        <a href="https://github.com/mike-stumpf/chorus.js"><i class="fa fa-code"></i>View Code</a>
                    </p>
                </div>
                <button class="button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">Close</span>
                </button>
            </section>
        </div>
    </div>
    <div class="reveal small" id="modal-help" data-reveal data-overlay="false" data-close-on-click="false">
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <section class="small-12 columns">
                <div class="reveal-body">
                    <hr>
                    <h3>How Do I Use It?</h3>
                    <hr>
                    <p>
                        Left click or tap on any instrument fret or piano key.  Your selection will be indicated by a blue background around the note you chose.
                    </p>
                    <p class="chorus-note chorus-note-selected"><span>C&#9839;</span></p>
                    <p>
                        Clicking or tapping a second time designates this note as the root note.  This is illustrated by a red background.
                    </p>
                    <p class="chorus-note chorus-note-root"><span>F&#9839;</span></p>
                    <p>
                       After you are finished selecting the combination of notes you want to search for, hit the search button.
                    </p>
                    <p class="text-center">
                        <a class="chorus-search-button">Search Chorus</a>
                    </p>
                    <p>
                       When the search has finished, the lists below the instrument will be populated with results that match the notes you selected.
                    </p>
                    <p>
                        Left click or tap on any of these search results to apply the selected result to the fretboard or piano keys above.  Notes that are in the search result you selected but are not a previously selected or root note will have a gold background.
                    </p>
                    <p class="chorus-note chorus-note-found"><span>A</span></p>
                    <p>
                        Click or tap again on the same result to clear the result notes from the fretboard or piano keys.  Click or tap on another result to have the first result cleared and the second result populate the instrument's notes.
                    </p>
                    <hr>
                    <h3>Notes</h3>
                    <hr>
                    <p>
                        * There can only be one root note per instrument.
                    </p>
                    <p>
                        * Right click on a selected note or root note to clear its designation.
                    </p>
                </div>
                <button class="button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">Close</span>
                </button>
            </section>
        </div>
    </div>
</main>
