@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"), url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f--raleway {
  font-family: Raleway, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--raleway-thin {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.f--proza-libre {
  font-family: Proza Libre, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

/*
these are helper functions for common tasks that are difficult to implement across different browsers and devices.
*/
#portfolio-quote-container {
  margin-bottom: 10px;
  text-align: center;
  height: 150px;
  border: 1px solid rgba(10, 10, 10, 0.25);
  position: relative; }

.portfolio-quote {
  max-width: 95%;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }
  @media (min-width: 768px) {
    .portfolio-quote {
      max-width: 75%; } }

.portfolio-quote-author {
  margin: 0; }

.portfolio-carousel-header {
  font-family: RalewayThin, 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif; }

.portfolio-carousel {
  background-color: rgba(57, 57, 57, 0.3); }
  .portfolio-carousel .slick-prev, .portfolio-carousel .slick-next {
    background-color: #594D4B;
    height: 100%; }
  .portfolio-carousel .slick-next {
    right: 0; }
  .portfolio-carousel .slick-prev {
    left: 0; }

.portfolio-carousel-item-title {
  padding-top: 10px;
  height: 30px;
  margin: 0; }

.portfolio-carousel-content {
  max-width: 75%;
  margin: auto;
  height: 230px;
  background-color: white;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 10px solid #594D4B; }
  @media (min-width: 768px) {
    .portfolio-carousel-content {
      margin: 10px;
      max-width: 100%; } }
  .portfolio-carousel-content:hover .fa {
    color: rgba(24, 69, 59, 0.5); }
  .portfolio-carousel-content:active, .portfolio-carousel-content:focus {
    outline: none; }
  .portfolio-carousel-content .fa-stack {
    height: 190px;
    width: 100%;
    max-width: 200px; }
    @media (min-width: 768px) {
      .portfolio-carousel-content .fa-stack {
        max-width: 175px; } }
  .portfolio-carousel-content .fa {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: color 300ms ease-out 0s;
    -moz-transition: color 300ms ease-out 0s;
    -o-transition: color 300ms ease-out 0s;
    transition: color 300ms ease-out 0s; }
  .portfolio-carousel-content.bubbles .fa-stack-1x {
    bottom: 82.5%;
    left: 32.5%;
    right: initial;
    top: initial;
    width: 2rem;
    line-height: 2rem;
    font-size: 2rem; }
  .portfolio-carousel-content.bubbles .fa-stack-2x {
    bottom: 47.5%;
    left: 7.5%;
    right: initial;
    top: initial;
    width: 4rem;
    line-height: 4rem;
    font-size: 4rem; }
  .portfolio-carousel-content.bubbles .fa-stack-3x {
    bottom: 5%;
    top: initial;
    width: 6rem;
    line-height: 6rem;
    font-size: 6rem; }
  .portfolio-carousel-content.chorus .fa-stack-1x {
    bottom: 60%;
    top: initial;
    left: 60%;
    right: initial;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 2.5rem; }
  .portfolio-carousel-content.chorus .fa-stack-2x {
    bottom: 30%;
    top: initial;
    left: 10%;
    right: initial;
    width: 5rem;
    line-height: 5rem;
    font-size: 5rem; }
  .portfolio-carousel-content.reading-list .fa-stack-1x {
    bottom: 30%;
    top: initial;
    left: 5%;
    right: initial;
    width: 3rem;
    line-height: 3rem;
    font-size: 3rem; }
  .portfolio-carousel-content.reading-list .fa-stack-2x {
    bottom: 30%;
    top: initial;
    left: 40%;
    right: initial;
    width: 3rem;
    line-height: 3rem;
    font-size: 3rem; }
  .portfolio-carousel-content.reading-list .fa-stack-3x {
    bottom: 60%;
    top: initial;
    left: 25%;
    right: initial;
    width: 3rem;
    line-height: 3rem;
    font-size: 3rem; }
  .portfolio-carousel-content.reading-list .fa-stack-4x {
    bottom: 60%;
    top: initial;
    left: 60%;
    right: initial;
    width: 3rem;
    line-height: 3rem;
    font-size: 3rem; }
  .portfolio-carousel-content.alcone .fa {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 4rem; }

.portfolio-tech-stack {
  margin: 20px 0; }
  .portfolio-tech-stack .title {
    font-weight: bold; }

.portfolio-button-code span:after {
  content: '\f121'; }

.portfolio-button-project span:after {
  content: '\f115'; }
