@import '../base/mixins';
@import '../base/media-queries';
@import '../base/colours';

#frontispiece-image-logo-container {
  position: relative;
  background-color: $color-york-blue;
}

#frontispiece-image-container {
  width: 25%;
  border-radius: 50%;
  border: 2px solid transparent;
  overflow: hidden;
  margin: 5%;
  background-color: transparent;
  @include transition-raw(
    'border-color 300ms ease-out 0s,background-color 300ms ease-out 0s'
  );
}

#frontispiece-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  margin: auto;
  height: 7rem;
  text-align: right;

  p {
    $font-size: 2.25rem;
    font-family: $global-font-raleway-thin;
    color: white;
    font-size: $font-size;
    line-height: $font-size;
    margin: 0;
    text-transform: uppercase;
  }
}

@include mobile {
  #frontispiece-image-logo-container {
    padding: 0;
  }
}

@include tablet-up {
  #frontispiece-logo {
    height: 18rem;

    p {
      $font-size: 6rem;
      font-size: $font-size;
      line-height: $font-size;
    }
  }

  #frontispiece-image-container {
    border-width: 5px;
  }
}
