<main id="page-error-404" class="error-page text-center grid-container row page-container">
    <section id="error-title-container" class="col-sm-12 col-md-4">
        <h3>Error:</h3>
        <h1 class="page-title error-title">404</h1>
    </section>
    <section class="col-sm-12 col-md-8">
        <div id="error-translations-container">
            {{#each translations}}
                <h3 class="error-translations">{{this}}</h3>
            {{/each}}
        </div>
        <p>The page you requested could not be found.</p>
    </section>
    <div class="col-sm-12 col-md-8 col-md-offset-4">
        <a class="button error-button" href="/">
            <span>Go To Homepage</span>
        </a>
    </div>
</main>