<main class="row page homepage">
    <div class="small-12 columns">
        {{{page.body}}}
    </div>
    <div class="small-12 columns">
        {{page.content.block1.title}}
        {{{page.content.block1.body}}}
    </div>
</main>
