<main class="row page music">
    <section id="container-content" class="small-12 columns">
        {{#each posts}}
            <div class="post">
                <div class="content-post">
                    <h3>{{title}}</h3>
                    {{{excerpt}}}
                </div>
            </div>
        {{/each}}
    </section>
    <section id="container-button" class="small-12 columns">
        <button class="button" onclick="music.loadMoreArticles();">Load More</button>
    </section>
</main>
<script type="text/javascript">
    $(function(){
        music.init();
    });
</script>