<main class="row page music">
    <section id="container-content" class="small-12 columns">
        <div class="grid">
            {{#each posts}}
                <div class="post" onclick="window.location.href='/post/{{url}}'">
                    <div class="content-post">
                        <h3>{{title}}</h3>
                        <h5>{{postDate}}</h5>
                        {{{excerpt}}}
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
    <section id="container-button" class="small-12 columns">
        <button class="button" onclick="music.loadMoreArticles();">Load More</button>
    </section>
</main>
<script type="text/javascript">
    $(function(){
        music.init();
    });
</script>