<main class="row page travel">
    <section id="container-images">

    </section>
    <section id="container-rule" class="small-12 columns">
        <hr/>
    </section>
    <section id="container-google"></section>
</main>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{config.googleMapsApiKey}}&callback=travel.maps.initMap"></script>
