<main class="row page music">
    <section id="container-content" class="small-12 columns">
        <div id="grid-post" class="grid">
            {{> post-grid}}
        </div>
    </section>
    {{#compare posts.length 20 operator="==="}}
        <section id="container-button" class="small-12 columns">
            <i id="loading-spinner" class="fa fa-spin fa-circle-o-notch"></i>
            <br/>
            <button id="load-more" class="button" onclick="music.loadMoreArticles();">Load More</button>
        </section>
    {{/compare}}
</main>
<script type="text/javascript">
    $(function(){
        music.init();
    });
</script>