<main class="row page resume">
    <section id="container-title">
        <h1>Mike Stumpf</h1>
    </section>
    <section id="container-body" class="small-12 columns">
        {{{page.body}}}
    </section>
</main>
<script type="text/javascript">
    $(function(){
        resume.init();
    });
</script>
