<main class="row page resume">
    <section id="container-title">
        <h1>Mike Stumpf</h1>
    </section>
    <section id="container-body" class="small-12 columns">
        <div id="resume-summary">
            <h2>Lead Web Developer</h2>
            <p>
                DRY programmer with <strong>4 years of professional web development experience</strong> building bespoke websites and RESTful APIs using PHP, JavaScript, CSS, and HTML.
            </p>
            <p>
                Advocate for native or “vanilla” JavaScript, equally comfortable in the front-end or the back-end, and has a wide range of experience with different languages and frameworks. Familiar with working on several projects simultaneously and switching between different technology stacks on a regular basis.
            </p>
            <p>
                Respected leader and experienced communicator who is able to plan for both long and short-term deadlines while continuously managing internal and external expectations and accommodating unexpected events.
            </p>
            <p>
                Personal projects include creating a JavaScript library for music theory, collaborating on a Bluetooth-synchronized metronome mobile app, and developing a reading list plugin for WordPress.
            </p>
        </div>
        <div id="resume-experience">
            <h2>Experience</h2>
            <h3>Lead Web Developer</h3>
            <h5>2013&ndash;2016 &mdash; Ellefson Technology. Toronto, Canada</h5>
            <p>
                Helped to design and architect projects of all sizes ranging from one-page websites using a content management system (CMS) to bespoke Software as a Service (SaaS) systems backed by proprietary code to high-traffic, luxury e-commerce sites. Responsible for organizing and managing teams of clients, designers, and other developers in order to create tailored, responsive websites from verbal descriptions and visual mocks.
            </p>
            <h4>Technologies Used</h4>
            <p>
                Ajax, AngularJS, Bash, Bootstrap, Bower, Contentful, CSS3, C#, Express.js, Foundation, Google (GA/GTM), Grunt, Gulp.js, Handlebars, HTML5, JavaScript, jQuery, JSON, Less, Magento, MongoDB, MySQL, MvvmCross, Node.js, NoSQL, NPM, Photoshop, PHP, Sass (SCSS), SEO, Sketch, Slim Framework, SMTP, SOAP, Twig, WordPress, Xamarin, XML
            </p>
            <h4>Key Achievements</h4>
            <ul>
                <li>
                    Created a custom framework for faster, more standardized in-house web development incorporating a NodeJs back-end, Handlebars and Sass front-end, and Grunt workflow
                </li>
                <li>
                    Implemented company-wide coding style guides for JavaScript, HTML, CSS, and PHP
                </li>
                <li>
                    Identified SQL queries crashing high-traffic sites in both WordPress and Magento
                </li>
                <li>
                    Stepped in after coworker suffered injury and in two weeks delivered an iOS app (proof of
                    concept) built in Xamarin and MvvmCross with language localization
                </li>
                <li>
                    Repeatedly brought new contracts to the company via word of mouth from satisfied clients
                </li>
            </ul>
            <h3>Project Manager &amp; Web Developer</h3>
            <h5>2012&ndash;2013 &mdash; University of Toronto. Toronto, Canada</h5>
            <p>
                Developed websites and digital tools to support faculty research and further digital scholarship at the university. Organized purchases of professional-grade computing equipment from a grant of over $30,000 to create a digital scholarship laboratory on campus.
            </p>
            <h4>Technologies Used</h4>
            <p>
                Ajax CSS, Drupal, HTML, JavaScript, jQuery, Joomla, MySQL, Omeka, PHP, WordPress
            </p>
            <h4>Key Achievements</h4>
            <ul>
                <li>
                    Created course websites for faculty to add more digital components to their teaching
                </li>
                <li>
                    Collaborated with campus library to provide digital scholarship training and workshops
                </li>
                <li>
                    Prepared report on status of campus digital scholarship for Dean from 50+ faculty interviews
                </li>
            </ul>
            <h3>Database Engineer</h3>
            <h5>2012 &mdash; Purdue University. West Lafayette, USA</h5>
            <p>
                Organized and standardized data from ∼100 separate sources into a relational MySQL database able to be consumed within a larger data ecosystem.
            </p>
            <h4>Technologies Used</h4>
            <p>
                Microsoft Access, MySQL, Visual Basic for Applications (VBA)
            </p>
            <h4>Key Achievements</h4>
            <ul>
                <li>
                    Wrote VBA scripts to synthesize 300,000+ data pieces and reduce errata
                </li>
                <li>
                    Designed database relationships and contributed to the larger project architecture based on
                    findings within this data subset
                </li>
            </ul>
        </div>
        <div id="resume-education">
            <h2>Education</h2>
            <h3>MA, Renaissance Literature 1500-1700</h3>
            <h5>2013 &mdash; University of York, England</h5>
            <ul>
                <li>
                    Recipient of the Departmental Postgraduate Award
                </li>
                <li>
                    Awarded a Graduate Research Fund stipend
                </li>
                <li>
                    Presented individual scholarship at two competitive conferences
                </li>
                <li>
                    Volunteer web developer and webmaster for the Humanities Research Centre’s blog
                </li>
            </ul>
            <h3>BS, English Language &amp; Literature</h3>
            <h5>2011 &mdash; University of Wisconsin-Madison, USA</h5>
            <ul>
                <li>
                    President of local chapter of Student Wisconsin Education Association, 250+ members
                </li>
                <li>
                    Took graduate-level courses and created unique independent study programme in final year
                </li>
                <li>
                    Made the Dean’s List for academic achievement during second year
                </li>
                <li>
                    Contributed to faculty research and created text processing software in Java for support
                </li>
            </ul>
        </div>
        <div id="resume-expertise">
            <h2>Other Skills</h2>
            <h3>Server Admin</h3>
            <ul>
                <li>
                    Used to full-stack development, LAMP and MEAN, with web servers like Apache and Nginx
                </li>
                <li>
                    Able to deploy on cloud servers like Amazon Web Services (AWS) and DigitalOcean
                </li>
                <li>
                    Knowledge of Unix command line on Red Hat Enterprise Linux (RHEL) and Ubuntu servers
                </li>
                <li>
                    Exposure to automated systems like Chef, Docker, and Jenkins
                </li>
            </ul>
            <h3>General</h3>
            <ul>
                <li>
                    Familiarity with Agile methodologies like Scrum and Kanban
                </li>
                <li>
                    Well-versed in using version control systems (VCS) like Git and Subversion
                </li>
                <li>
                    Made unit tests in Karma and Mocha and end to end (E2E) tests in Selenium and PhantomJS
                </li>
                <li>
                    Worked with APIs like Twitter, Facebook, and Instagram using authentication like OAuth2
                </li>
            </ul>
        </div>
        <div id="resume-personal">
            <h2>Personal</h2>
            <a><h3>Metronome</h3></a>
            <p>(In Progress) &mdash; Android Studio, C#, Java, XML</p>
            <ul>
                <li>
                    Part of a collaborative team. Personally responsible for app UI and UX.
                </li>
            </ul>
            <a href="/chorus" target="_blank"><h3>Chorus.js</h3></a>
            <p>2015 &mdash; CSS, Grunt, HTML, JavaScript</p>
            <ul>
                <li>
                    Music theory library built in native JavaScript using a custom, modular namespacing pattern
                </li>
            </ul>
            <a href="/portfolio/reading-list" target="_blank"><h3>WP Reading List</h3></a>
            <p>2013 &mdash; CSS, HTML, PHP, WordPress</p>
            <ul>
                <li>
                    WordPress plugin which creates a custom post type for displaying reading materials. Offers an admin panel as well as two front-end templates
                </li>
            </ul>
            <a href="/music"><h3>Interests</h3></a>
            <ul>
                <li>
                    I love everything related to music. I play guitar and bass (and a handful of other instruments) and I make my own effects circuits. I also enjoy traveling, the outdoors, and sports as well as reading classic fiction.
                </li>
            </ul>
        </div>
        <div class="text-center">
            <h2>&nbsp;</h2>
            <h5><a href="/files/Mike%20Stumpf%20Resume.pdf" target="_blank">Download a copy of my resume</a></h5>
        </div>
    </section>
</main>
<script type="text/javascript">
    $(function(){
        resume.init();
    });
</script>
