<main class="row page resume">
    <div id="container-title">
        <h1>Mike Stumpf</h1>
    </div>
    <div id="container-body" class="small-12 columns">
        {{{page.body}}}
    </div>
</main>
