<main class="row page travel">
    <section id="container-google"></section>
    <div id="container-images" class="small-12 columns">
        <hr/>
        image carousel here
    </div>
</main>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{config.googleMapsApiKey}}&callback=travel.maps.initMap"></script>
