<main class="row page resume">
    <div id="map" class="small-12 columns" style="height:500px;">
    </div>
    <div class="small-12 columns">
        travel
        {{{page.body}}}
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{config.googleMapsApiKey}}&callback=travel.maps.initMap"></script>
</main>
