<main class="row page resume">
    <section id="container-title">
        <h1>Mike Stumpf</h1>
    </section>
    <section id="container-body" class="small-12 columns">
        <div id="resume-summary">
            <h2>Lead Web Developer</h2>
            <p><strong>DRY programmer</strong> who focuses on the end user experience and how information is communicated through functional design. Equally comfortable in the front-end or the back-end and quickly adaptable to new languages and frameworks. Familiar with working on several projects at the same time and switching between different technology stacks on a regular basis.</p>
            <p><strong>Respected leader and experienced communicator</strong> who is comfortable leading a team and also promoting leadership qualities of other team members. Able to plan for both long and short-term deadlines while continuously managing internal and external expectations and accommodating unexpected events.</p>
        </div>
        <div id="resume-experience">
            <h2>Experience</h2>
            <h3>Web Developer</h3>
            <p>2013-2016 &ndash; <a href="http://ellefsontech.com/" target="_blank">Ellefson Technology</a></p>
            <ul>
                <li>Possessed numerous leadership roles and communication-intensive responsibilities, including organizing and managing teams of clients, designers, and other developers</li>
                <li>Worked regularly with MEAN and LAMP stacks as both a front-end and back-end developer and as a server administrator</li>
                <li>Repeatedly brought new contracts to the company via word of mouth from satisfied clients</li>
            </ul>
            <h3>Project Manager &amp; Web Developer</h3>
            <p>2012-2013 &ndash; <a href="http://www.utsc.utoronto.ca/home/" target="_blank">University of Toronto</a></p>
            <ul>
                <li>Developed WordPress and Drupal websites for research and scholarship</li>
                <li>Organized purchases of professional-grade computing equipment from a grant of over $30,000</li>
            </ul>
            <h3>Database Engineer</h3>
            <p>2012 &ndash; <a href="http://www.purdue.edu/" target="_blank">Purdue University</a></p>
            <ul>
                <li>Curated data and built a relational database in MySQL from 300,000 data points</li>
            </ul>
        </div>
        <div id="resume-education">
            <h2>Education</h2>
            <h3>MA, Renaissance Literature 1500-1700</h3>
            <p>2013 &ndash; <a href="http://www.york.ac.uk/">University of York, England</a></p>
            <ul>
                <li>Recipient of the Departmental Postgraduate Award</li>
                <li>Awarded a Graduate Research Fund stipend</li>
            </ul>
            <h3>BS, English Language &amp; Literature</h3>
            <p>2011 &ndash; <a href="http://www.wisc.edu/">University of Wisconsin-Madison, USA</a></p>
            <ul>
                <li>President of the local chapter of the Student Wisconsin Education Association</li>
            </ul>
        </div>
        <div id="resume-expertise">
            <h2>Expertise</h2>
            <h3>Front-End</h3>
            <ul>
                <li>
                    AngularJS, Bootstrap, CSS, Foundation, Grunt/Gulp, Handlebars, HTML, JavaScript, jQuery, Less/Sass, Twig
                </li>
            </ul>
            <h3>Back-End</h3>
            <ul>
                <li>
                    Express.js, MySQL, Node.js, PHP, Slim Framework
                </li>
            </ul>
            <h3>Server Admin</h3>
            <ul>
                <li>
                    Apache, Amazon Web Services, Bash, CentOS, Nginx, RHEL, Ubuntu
                </li>
            </ul>
            <h3>CMS</h3>
            <ul>
                <li>
                    Contentful, Drupal, Magento, WordPress
                </li>
            </ul>
            <h3>VCS</h3>
            <ul>
                <li>
                    Git, Subversion
                </li>
            </ul>
        </div>
        <div id="resume-personal">
            <h2>Personal</h2>
            <p>I love everything related to music. I play guitar and bass (and a handful of other instruments) and I make my own effects circuits. I also enjoy traveling, the outdoors, and sports as well as reading classic fiction.</p>
        </div>
    </section>
</main>
<script type="text/javascript">
    $(function(){
        resume.init();
    });
</script>
