<main class="row page portfolio bubbles">
    <div class="small-12 columns">
        these are all the bubbles
        {{{page.body}}}
    </div>
    <div id="bubble-container">
        <script type="text/javascript">
            $(function(){
                bubbles.init();
            });
        </script>
    </div>
</main>
