<main class="row page homepage">
    <div class="small-12 columns">
        todo, sliders by section with categories of each product with solid color bar on top of each section
        {{{page.body}}}
    </div>
    <div class="small-12">
        {{#each portfolio}}
            {{name}}
            <div class="slider">
                {{#each items}}
                    <div>
                        {{title}}
                        {{url}}
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</main>
<script type="text/javascript">
    $(function(){
        portfolio.init();
    });
</script>