<main class="single portfolio reading-list">
    <section id="container-content" class="row">
        <div id="content-reading-list" class="small-12 columns">
            <iframe src="http://wordpress.mikestumpf.com/reading-list" scrolling="no" frameborder="none"></iframe>
        </div>
    </section>
    <section id="reading-list-modal">
        <div class="reveal small" id="modal-reading-list" data-reveal data-overlay="false" data-close-on-click="false">
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <section class="small-12 columns">
                    <h3>Sorry for the Mess...</h3>
                    <p>
                        This portfolio item is not fully responsive yet.  It's best viewed on a tablet-sized device or larger.
                    </p>
                </section>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
    $(function(){
        readingList.init();
    });
</script>