<main class="row portfolio-item portfolio scales">
    <section class="small-12 columns">
        these are all the scales
        {{{page.body}}}
    </section>
    {{>portfolio-footer page}}
</main>
