<main class="row single post align-center">
    <section id="container-body" class="small-12 medium-10 large-8 columns">
        <h3 class="post-title">{{page.title}}</h3>
        <h5 class="post-date"><i class="fa fa-calendar"></i>{{page.postDate}}</h5>
        <hr>
        <div class="post-excerpt">
            {{{page.body}}}
        </div>
    </section>
</main>
