$color-jays-dark-blue: #041e42;
$color-jays-light-blue: #003da5;
$color-badgers-red: #b70101;
$color-badgers-gold: #e7d9c1;
$color-grey: #807370;
$color-dark-grey: #594d4b;
$color-white: #fefefe;
$color-york-green: #18453b;
$color-york-blue: #002663;
$color-font-black: #393939;
$color-anchor-hover: #d3d3d3;
$color-menu-active-state: #f8f8f8;
$color-menu-border-active-state: #e3ebee;
$color-sub-menu-border: #c6c7c8;
$color-box-shadow: #888888;
$color-default-hr-border: #eeeeee;
