//font declarations
//-----------------------------
$sansSerifDefault: ", 'HelveticaNeue', Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif";

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"),
    url("/fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$global-font-raleway: unquote("Raleway" + $sansSerifDefault);

@font-face {
  font-family: "RalewayThin";
  src: url("/fonts/Raleway/raleway-thin-webfont.woff2") format("woff2"),
    url("/fonts/Raleway/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$global-font-raleway-thin: unquote("RalewayThin" + $sansSerifDefault);

@font-face {
  font-family: "Proza Libre";
  src: url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff2") format("woff2"),
    url("/fonts/ProzaLibre/prozalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$global-font-proza-libre: unquote("Proza Libre" + $sansSerifDefault);

//extensible classes
//-----------------------------
.f--raleway {
  font-family: $global-font-raleway;
}

.f--raleway-thin {
  font-family: $global-font-raleway-thin;
}

.f--proza-libre {
  font-family: $global-font-proza-libre;
}
